.ig-bars { 

    .bar-stat {
        width: 100%;

        
        
        &--vertical {
            padding-top: 50px;
            display: flex;
            @extend .font-title;
            .bar-width {
                margin-right: 2px;
                width: calc(8.3% - 1px);
                @include media-breakpoint-up(lg) {
                    width: calc(8.3% - 2px);
                }
            }
            .bar-container {
                display: block;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 290px;
                @include media-breakpoint-up(sm) {
                    height: 400px;
                }
            }
            .bar-vertical {
                width: 100%;
                background-color: $primary-color;
                display: block;
                transition: all 1.5s linear;
                height: 0;
                position: relative;
                &--white {
                    background-color: white;
                    border: 1px solid $primary-color;
                    .percentage {
                        @include media-breakpoint-down(sm) {
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
            .percentage {
                position: absolute;
                color: $primary-color;
                font-size: 11px;
                left: 2px;
                top: -20px;
                @include bp-xxs {
                    top: -25px;
                }
                @include bp-s {
                    top: -25px;
                    font-size: 12px;

                }
                @include media-breakpoint-up(sm) {
                    left: 0;
                    right: 0;
                    text-align: center;
                    top: -30px;
                    font-size: 15px;
                }
                @include media-breakpoint-up(lg) {
                    top: -35px;
                    font-size: 18px;
                }
            }
            .year {
                padding-top: 5px;
                height: 30px;
                font-size: 12px;
                text-align: center;
                @include media-breakpoint-up(sm) {
                    font-size: 15px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 18px;
                }
                .hide-sml {
                    display: none;
                    @include media-breakpoint-up(sm) {
                        display: block;
                    }
                }
            }
        }
        // &:hover {
        //     .percentage {
        //         span {
        //             opacity: 1;
        //         }
        //     }
        // }



        &--horizontal {
            margin-bottom: 20px;
            height: 50px;
            position: relative;
            @include media-breakpoint-up(lg) {
                margin-bottom: 40px;
            }

            .bar {
                display: inline-block;
                height: 12px;
                background-color: #BFBFBF;
                width: 0;
                transition: 1.5s ease-in-out;

                height: 42px;
                // background-color: #777777;
                background-image: linear-gradient(90deg, #00282D 10%, #D9D538 100%);
                position: relative;
                .car {
                    width: 128px;
                    display: none;
                    position: absolute;
                    right: 0;
                    top: -10px;
                    transform: translateX(90%);
                    @include media-breakpoint-up(md) {
                        display: block;
                    }
                }
                .percentage {
                    position: absolute;
                    color: #fff;
                    font-size: 14px;
                    top: 12px;
                    right: 5px;
                    @extend .font-title;
                    @include media-breakpoint-up(sm) {
                        right: 15px;
                        top: 8px;
                        font-size: 18px;
                    }
                    @include media-breakpoint-up(lg) {
                        right: 25px;
                    }
                    span {
                        opacity: 0;
                        transition: 0.5s ease;
                        transition-delay: 0.5s; 
                        will-change: opacity;
                        font-weight: $weight-bold;
                    }
                    .is-inview {
                        opacity: 1;
                    }
                }
            }
            .label {
                position: absolute;
                left: 0;
                top: 0;
                height: 42px;
                color: white;
                width: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @extend .font-title;
                font-weight: $weight-medium;
                line-height: 1.1;
            }
        }
    }
}

// .legend-percentages {
//     display: flex;
//     justify-content: space-between;
//     position: relative;
//     > div {
//         width: 33px;
//         text-align: center;
//         &.p0 {
//             text-align: left;
//         }
//         &.p25 {
//             width: 28px;
//         }
//         &.p50 {
//             padding-left: 1%;
//         }
//         &.p75 {
//             padding-left: 2%;
//         }
//         &.p100 {
//             text-align: right;
//         }
//     }
// }

.is-inview {
    .bar[data-percentage="0%"] {   width: 0%;  }
    .bar[data-percentage="1%"] {   width: 1%;  }
    .bar[data-percentage="2%"] {   width: 2%;  }
    .bar[data-percentage="3%"] {   width: 3%;  }
    .bar[data-percentage="4%"] {   width: 4%;  }
    .bar[data-percentage="5%"] {   width: 5%;  }
    .bar[data-percentage="6%"] {   width: 6%;  }
    .bar[data-percentage="7%"] {   width: 7%;  }
    .bar[data-percentage="8%"] {   width: 8%;  }
    .bar[data-percentage="9%"] {   width: 9%;  }
    .bar[data-percentage="10%"] {  width: 10%; }
    .bar[data-percentage="11%"] {  width: 11%; }
    .bar[data-percentage="12%"] {  width: 12%; }
    .bar[data-percentage="13%"] {  width: 13%; }
    .bar[data-percentage="14%"] {  width: 14%; }
    .bar[data-percentage="15%"] {  width: 15%; }
    .bar[data-percentage="16%"] {  width: 16%; }
    .bar[data-percentage="17%"] {  width: 17%; }
    .bar[data-percentage="18%"] {  width: 18%; }
    .bar[data-percentage="19%"] {  width: 19%; }
    .bar[data-percentage="20%"] {  width: 20%; }
    .bar[data-percentage="21%"] {  width: 21%; }
    .bar[data-percentage="22%"] {  width: 22%; }
    .bar[data-percentage="23%"] {  width: 23%; }
    .bar[data-percentage="24%"] {  width: 24%; }
    .bar[data-percentage="25%"] {  width: 25%; }
    .bar[data-percentage="26%"] {  width: 26%; }
    .bar[data-percentage="27%"] {  width: 27%; }
    .bar[data-percentage="28%"] {  width: 28%; }
    .bar[data-percentage="29%"] {  width: 29%; }
    .bar[data-percentage="30%"] {  width: 30%; }
    .bar[data-percentage="31%"] {  width: 31%; }
    .bar[data-percentage="32%"] {  width: 32%; }
    .bar[data-percentage="33%"] {  width: 33%; }
    .bar[data-percentage="34%"] {  width: 34%; }
    .bar[data-percentage="35%"] {  width: 35%; }
    .bar[data-percentage="36%"] {  width: 36%; }
    .bar[data-percentage="37%"] {  width: 37%; }
    .bar[data-percentage="38%"] {  width: 38%; }
    .bar[data-percentage="39%"] {  width: 39%; }
    .bar[data-percentage="40%"] {  width: 40%; }
    .bar[data-percentage="41%"] {  width: 41%; }
    .bar[data-percentage="42%"] {  width: 42%; }
    .bar[data-percentage="43%"] {  width: 43%; }
    .bar[data-percentage="44%"] {  width: 44%; }
    .bar[data-percentage="45%"] {  width: 45%; }
    .bar[data-percentage="46%"] {  width: 46%; }
    .bar[data-percentage="47%"] {  width: 47%; }
    .bar[data-percentage="48%"] {  width: 48%; }
    .bar[data-percentage="49%"] {  width: 49%; }
    .bar[data-percentage="50%"] {  width: 50%; }
    .bar[data-percentage="51%"] {  width: 51%; }
    .bar[data-percentage="52%"] {  width: 52%; }
    .bar[data-percentage="53%"] {  width: 53%; }
    .bar[data-percentage="54%"] {  width: 54%; }
    .bar[data-percentage="55%"] {  width: 55%; }
    .bar[data-percentage="56%"] {  width: 56%; }
    .bar[data-percentage="57%"] {  width: 57%; }
    .bar[data-percentage="58%"] {  width: 58%; }
    .bar[data-percentage="59%"] {  width: 59%; }
    .bar[data-percentage="60%"] {  width: 60%; }
    .bar[data-percentage="61%"] {  width: 61%; }
    .bar[data-percentage="62%"] {  width: 62%; }
    .bar[data-percentage="63%"] {  width: 63%; }
    .bar[data-percentage="64%"] {  width: 64%; }
    .bar[data-percentage="65%"] {  width: 65%; }
    .bar[data-percentage="66%"] {  width: 66%; }
    .bar[data-percentage="67%"] {  width: 67%; }
    .bar[data-percentage="68%"] {  width: 68%; }
    .bar[data-percentage="69%"] {  width: 69%; }
    .bar[data-percentage="70%"] {  width: 70%; }
    .bar[data-percentage="71%"] {  width: 71%; }
    .bar[data-percentage="72%"] {  width: 72%; }
    .bar[data-percentage="73%"] {  width: 73%; }
    .bar[data-percentage="74%"] {  width: 74%; }
    .bar[data-percentage="75%"] {  width: 75%; }
    .bar[data-percentage="76%"] {  width: 76%; }
    .bar[data-percentage="77%"] {  width: 77%; }
    .bar[data-percentage="78%"] {  width: 78%; }
    .bar[data-percentage="79%"] {  width: 79%; }
    .bar[data-percentage="80%"] {  width: 80%; }
    .bar[data-percentage="81%"] {  width: 81%; }
    .bar[data-percentage="82%"] {  width: 82%; }
    .bar[data-percentage="83%"] {  width: 83%; }
    .bar[data-percentage="84%"] {  width: 84%; }
    .bar[data-percentage="85%"] {  width: 85%; }
    .bar[data-percentage="86%"] {  width: 86%; }
    .bar[data-percentage="87%"] {  width: 87%; }
    .bar[data-percentage="88%"] {  width: 88%; }
    .bar[data-percentage="89%"] {  width: 89%; }
    .bar[data-percentage="90%"] {  width: 90%; }
    .bar[data-percentage="91%"] {  width: 91%; }
    .bar[data-percentage="92%"] {  width: 92%; }
    .bar[data-percentage="93%"] {  width: 93%; }
    .bar[data-percentage="94%"] {  width: 94%; }
    .bar[data-percentage="95%"] {  width: 95%; }
    .bar[data-percentage="96%"] {  width: 96%; }
    .bar[data-percentage="97%"] {  width: 97%; }
    .bar[data-percentage="98%"] {  width: 98%; }
    .bar[data-percentage="99%"] {  width: 99%; }
    .bar[data-percentage="100%"] { width: 100%;}

    .bar-vertical[data-percentage="0%"] {   height: 0%;  }
    .bar-vertical[data-percentage="1%"] {   height: 1%;  }
    .bar-vertical[data-percentage="2%"] {   height: 2%;  }
    .bar-vertical[data-percentage="3%"] {   height: 3%;  }
    .bar-vertical[data-percentage="4%"] {   height: 4%;  }
    .bar-vertical[data-percentage="5%"] {   height: 5%;  }
    .bar-vertical[data-percentage="6%"] {   height: 6%;  }
    .bar-vertical[data-percentage="7%"] {   height: 7%;  }
    .bar-vertical[data-percentage="8%"] {   height: 8%;  }
    .bar-vertical[data-percentage="9%"] {   height: 9%;  }
    .bar-vertical[data-percentage="10%"] {  height: 10%; }
    .bar-vertical[data-percentage="11%"] {  height: 11%; }
    .bar-vertical[data-percentage="12%"] {  height: 12%; }
    .bar-vertical[data-percentage="13%"] {  height: 13%; }
    .bar-vertical[data-percentage="14%"] {  height: 14%; }
    .bar-vertical[data-percentage="15%"] {  height: 15%; }
    .bar-vertical[data-percentage="16%"] {  height: 16%; }
    .bar-vertical[data-percentage="17%"] {  height: 17%; }
    .bar-vertical[data-percentage="18%"] {  height: 18%; }
    .bar-vertical[data-percentage="19%"] {  height: 19%; }
    .bar-vertical[data-percentage="20%"] {  height: 20%; }
    .bar-vertical[data-percentage="21%"] {  height: 21%; }
    .bar-vertical[data-percentage="22%"] {  height: 22%; }
    .bar-vertical[data-percentage="23%"] {  height: 23%; }
    .bar-vertical[data-percentage="24%"] {  height: 24%; }
    .bar-vertical[data-percentage="25%"] {  height: 25%; }
    .bar-vertical[data-percentage="26%"] {  height: 26%; }
    .bar-vertical[data-percentage="27%"] {  height: 27%; }
    .bar-vertical[data-percentage="28%"] {  height: 28%; }
    .bar-vertical[data-percentage="29%"] {  height: 29%; }
    .bar-vertical[data-percentage="30%"] {  height: 30%; }
    .bar-vertical[data-percentage="31%"] {  height: 31%; }
    .bar-vertical[data-percentage="32%"] {  height: 32%; }
    .bar-vertical[data-percentage="33%"] {  height: 33%; }
    .bar-vertical[data-percentage="34%"] {  height: 34%; }
    .bar-vertical[data-percentage="35%"] {  height: 35%; }
    .bar-vertical[data-percentage="36%"] {  height: 36%; }
    .bar-vertical[data-percentage="37%"] {  height: 37%; }
    .bar-vertical[data-percentage="38%"] {  height: 38%; }
    .bar-vertical[data-percentage="39%"] {  height: 39%; }
    .bar-vertical[data-percentage="40%"] {  height: 40%; }
    .bar-vertical[data-percentage="41%"] {  height: 41%; }
    .bar-vertical[data-percentage="42%"] {  height: 42%; }
    .bar-vertical[data-percentage="43%"] {  height: 43%; }
    .bar-vertical[data-percentage="44%"] {  height: 44%; }
    .bar-vertical[data-percentage="45%"] {  height: 45%; }
    .bar-vertical[data-percentage="46%"] {  height: 46%; }
    .bar-vertical[data-percentage="47%"] {  height: 47%; }
    .bar-vertical[data-percentage="48%"] {  height: 48%; }
    .bar-vertical[data-percentage="49%"] {  height: 49%; }
    .bar-vertical[data-percentage="50%"] {  height: 50%; }
    .bar-vertical[data-percentage="51%"] {  height: 51%; }
    .bar-vertical[data-percentage="52%"] {  height: 52%; }
    .bar-vertical[data-percentage="53%"] {  height: 53%; }
    .bar-vertical[data-percentage="54%"] {  height: 54%; }
    .bar-vertical[data-percentage="55%"] {  height: 55%; }
    .bar-vertical[data-percentage="56%"] {  height: 56%; }
    .bar-vertical[data-percentage="57%"] {  height: 57%; }
    .bar-vertical[data-percentage="58%"] {  height: 58%; }
    .bar-vertical[data-percentage="59%"] {  height: 59%; }
    .bar-vertical[data-percentage="60%"] {  height: 60%; }
    .bar-vertical[data-percentage="61%"] {  height: 61%; }
    .bar-vertical[data-percentage="62%"] {  height: 62%; }
    .bar-vertical[data-percentage="63%"] {  height: 63%; }
    .bar-vertical[data-percentage="64%"] {  height: 64%; }
    .bar-vertical[data-percentage="65%"] {  height: 65%; }
    .bar-vertical[data-percentage="66%"] {  height: 66%; }
    .bar-vertical[data-percentage="67%"] {  height: 67%; }
    .bar-vertical[data-percentage="68%"] {  height: 68%; }
    .bar-vertical[data-percentage="69%"] {  height: 69%; }
    .bar-vertical[data-percentage="70%"] {  height: 70%; }
    .bar-vertical[data-percentage="71%"] {  height: 71%; }
    .bar-vertical[data-percentage="72%"] {  height: 72%; }
    .bar-vertical[data-percentage="73%"] {  height: 73%; }
    .bar-vertical[data-percentage="74%"] {  height: 74%; }
    .bar-vertical[data-percentage="75%"] {  height: 75%; }
    .bar-vertical[data-percentage="76%"] {  height: 76%; }
    .bar-vertical[data-percentage="77%"] {  height: 77%; }
    .bar-vertical[data-percentage="78%"] {  height: 78%; }
    .bar-vertical[data-percentage="79%"] {  height: 79%; }
    .bar-vertical[data-percentage="80%"] {  height: 80%; }
    .bar-vertical[data-percentage="81%"] {  height: 81%; }
    .bar-vertical[data-percentage="82%"] {  height: 82%; }
    .bar-vertical[data-percentage="83%"] {  height: 83%; }
    .bar-vertical[data-percentage="84%"] {  height: 84%; }
    .bar-vertical[data-percentage="85%"] {  height: 85%; }
    .bar-vertical[data-percentage="86%"] {  height: 86%; }
    .bar-vertical[data-percentage="87%"] {  height: 87%; }
    .bar-vertical[data-percentage="88%"] {  height: 88%; }
    .bar-vertical[data-percentage="89%"] {  height: 89%; }
    .bar-vertical[data-percentage="90%"] {  height: 90%; }
    .bar-vertical[data-percentage="91%"] {  height: 91%; }
    .bar-vertical[data-percentage="92%"] {  height: 92%; }
    .bar-vertical[data-percentage="93%"] {  height: 93%; }
    .bar-vertical[data-percentage="94%"] {  height: 94%; }
    .bar-vertical[data-percentage="95%"] {  height: 95%; }
    .bar-vertical[data-percentage="96%"] {  height: 96%; }
    .bar-vertical[data-percentage="97%"] {  height: 97%; }
    .bar-vertical[data-percentage="98%"] {  height: 98%; }
    .bar-vertical[data-percentage="99%"] {  height: 99%; }
    .bar-vertical[data-percentage="100%"] { height: 100%;}
}
