// spanish version css tweaks
.lang_es {
    h1 {
        @include font-size(42px);
        @include media-breakpoint-up(xl) {
            @include font-size(50px);
        }
    }

    .section--1 figure.road1 {
        @include media-breakpoint-up(xl) {
            max-width: 42%;
        }
    }

    .section--1 .title p {
        max-width: 520px;
    }

    .section--1 .collage .scroll-indicator .label {
        @include media-breakpoint-up(md) {
            @include font-size(21px);
        }
    }
    
    // section 1
    .growth-ev-market {
        h2 {
            max-width: none;
        }
    }
    
    // bar accumulation chart
    .es-43-lower {
        transform: translateY(7px);
    }
    .es-uk-lower {
        @include media-breakpoint-up(md) {
            transform: translateY(47px);
        }
    }
    .es-uk-line {
        opacity: 1 !important;
    }
    
    .s2-g2 .font-graphic {
        font-size: 12px;
        @include media-breakpoint-up(md) {
            font-size: 13px;
        }
    }

    .es-s1-graph2-copy {
        transform: translateX(-15px);
        @include media-breakpoint-up(md) {
            transform: translateX(-15px);
        }
    }

    // section 3
    .section--3 .scroll-indicator .label {
        @include media-breakpoint-up(md) {
            font-size: 17px;
        }
    }

    // section 5
    .pie-us-es {
        transform: translate(-13px, -10px);
        &--2020 {
            transform: translateX(-22px);
        }
    }

}