.lazyload {
	position: relative;
	background-color: $orange;
	transition: background-color .3s ease-in;
	cursor: pointer;
	[data-src] {
		transition: opacity .3s ease-in;
		opacity: 0;
		will-change: opacity;
	}
	.content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		
	}
	&.loaded {
		background-color: transparent;
		// transition-delay: 0.3s;
		[data-src] {
			opacity: 1;
		}
		.loader {
			visibility: hidden;
			animation-iteration-count: 1;
		}
		.grid-item--sizer-img {
			opacity: 0;
		}
		.content {
			transition: opacity .5s ease;
			&:hover {
				opacity: .8;
			}
		}
		
	}
	.icon-fill-color {
		fill: black;
		// &.hide {
		// 	display: none;
		// }
	}
	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 24px;
		height: 36px;
		display: block;
		margin-left: -12px;
		margin-top: -16px;
		z-index: 1;
		@include animation('pulse 1s infinite alternate');
		pointer-events: none;
	}
}
@include keyframes(pulse) {
	0% { opacity: 0; }
	100% { opacity: 0.5; }
}

body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
   content: url('../media/real-sizer/831x1300.png') 
			url('../media/real-sizer/842x1264.png') 
			url('../media/real-sizer/866x1300.png') 
			url('../media/real-sizer/867x1300.png') 
			url('../media/real-sizer/877x1300.png') 
			url('../media/real-sizer/881x1300.png') 
			url('../media/real-sizer/894x1300.png') 
			url('../media/real-sizer/943x1300.png') 
			url('../media/real-sizer/975x1300.png') 
			url('../media/real-sizer/1013x1300.png') 
			url('../media/real-sizer/1300x850.png') 
			url('../media/real-sizer/1300x866.png') 
			url('../media/real-sizer/1300x867.png') 
			url('../media/real-sizer/1300x897.png') 
			url('../media/real-sizer/1300x938.png') 
			url('../media/real-sizer/1300x975.png') 
			url('../media/real-sizer/1333x2000.png');   // load images
}