&.page-ready {
    nav.menu {
        ul {
            transform: translateX(0px);
            opacity: 1;
            transition: opacity 1.2s ease, transform 0.7s ease;
            transition-delay: 3s;
        }
    }
}

#ft-fixed-nav-height {
    height: $ft-fixed-nav;
    position: absolute;
    width: 1px;
    right: 0px;
}

nav.menu {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    z-index: 39;
    @include media-breakpoint-down(sm) {
        display: none;
    }
    @include bp-l {
        left: 26px;
    }
    &.abs {
        position: absolute;
        top: auto;
        bottom: 50vh;
        transform: translateY(50%);
    }
    ul {
        will-change: opacity, transform;
        transform: translateX(-200px);
        opacity: 0;
    }
    li {
        list-style-type: none;
        margin-bottom: 10px;
        i {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1px solid white;
            background-color: $primary-color;
            font-family: $font-title;
            font-variant-numeric: tabular-nums;
            font-size: 18px;
            line-height: 33px;
            text-align: center;
            display: inline-block;
            position: relative;
            z-index: 2;
            font-style: normal;
        }
        span {
            position: relative;
            left: -20px;
            top: -1px;
            padding-left: 40px;
            padding-right: 15px;
            opacity: 1;
            line-height: 35px;
            display: inline-block;
            transform: scaleX(0);
            transition: transform 0.3s ease;
            will-change: transform;
            transform-origin: 0 50%;
            background-color: $primary-color;
            pointer-events: none;
            opacity: 0;
            @extend .font-title;
        }
        a {
            display: inline-block;
            color: white;
            text-decoration: none;
            width: 35px;
            height: 35px;
            overflow: hidden;
            &:focus, &:hover {
                width: auto;
                span {
                    opacity: 1;
                    pointer-events: auto;
                    transform: scaleX(1);
                }
            }
            &:hover, &.is-current {
                i {
                    border-color: $primary-color;
                    color: $primary-color;
                    background-color: $white;
                }
            }
            &:focus {
                i {
                    color: $primary-color;
                    background-color: $secondary-color;
                }
            }
        }
    }
}