.section--8 {

	.counter {
        @extend .font-title;
        font-weight: $weight-bold;
        line-height: 1.2;
        strong {
            font-weight: $weight-bold;
            line-height: 1.5;
            color: $secondary-color;
            font-size: 80px;
            @include media-breakpoint-up(sm) {
                font-size: 70px;
            }
            @include media-breakpoint-up(lg) {
                font-size: 80px;
            }
        }
        text-align: center;
        font-size: 34px;
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
        @include media-breakpoint-up(md) {
            margin-left: 0;
            text-align: left;
            font-size: 23px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 34px;
        }
    }
    p {
        @extend .font-title;
    }
}