.section--2 {

	.map-container {
		position: relative;
		max-width: 1286px;
		margin-left: auto;
		margin-right: auto;
		> img {
			pointer-events: none;
		}
	}

	.pin-content-mobile {
		display: none;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		max-width: 460px;
		.pin-content {
			padding-right: 30px;
		}
		p {
			@extend .font-title;
			font-weight: $weight-medium;
		}
		&.is-open {
			display: block;	
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
	}

	.close {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 22px;
		height: 22px;
		opacity: 1;
		z-index: 2;
		display: block;
		&:hover {
			opacity: 1;
		}
		&:before, &:after {
			position: absolute;
			left: 9px;
			content: ' ';
			height: 23px;
			width: 2px;
			background-color: #fff;
		}
		&:before {
		  	transform: rotate(45deg);
		}
		&:after {
		  	transform: rotate(-45deg);
		}
	}


	.pulse {
		position: absolute;
		width: 0;
		cursor: pointer;
		.flag {
			border-radius: 50%;
			overflow: hidden;
			border: 2px solid #00282D;
			position: relative;
			z-index: 10;
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
			transform: scale(1);
			animation: pulse-flag 2s infinite;
			width: 4vw;
			@include media-breakpoint-up(lg) {
				width: 40px;
			}
			img {
				width: 100%;
				display: block;
				opacity: 0;
				@include media-breakpoint-up(lg) {
					opacity: 1;
				}
			}
		}
		&--usa {
			left: 16%;
			top: 36%;
		}
		&--es {
			left: 43.5%;
			top: 37%;
		}
		&--ch {
			left: 76%;
			top: 33%;
		}
		&--norway {
			left: 48%;
			top: 21%;
		}
		&--southkorea {
			top: 40%;
			left: 81%;
		}
		&--chile {
			top: 84%;
			left: 24%;
		}
		&:hover, &.is-active {
			.inner {
				z-index: 10;
				.flag {
					img {
						opacity: 1;
					}
				}
				.pin-content {
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
		.inner {
			@include media-breakpoint-up(lg) {
				position: relative;
			}
		}
		.pin-content {
			display: none;
			opacity: 0;
			@include media-breakpoint-up(lg) {
				display: block;
			}
		}
	}
	.pin-content {
		width: 100%;
		background-color: $primary-color;
		color: white;
		top: 20px;

		@include media-breakpoint-up(lg) {
			pointer-events: none;
			width: 300px;
			left: auto;
			position: absolute;
			transform: translateX(calc(-50% + 20px));
		}
		p {
			padding: 12px;  
			font-size: 16px;
			margin-bottom: 0;
			line-height: 1.3;
			@extend .font-title;
			font-weight: $weight-medium;
			@include media-breakpoint-up(lg) {
				padding-top: 25px;
			}
		}
	}
}

@keyframes pulse-flag {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}