.section--3 {
    padding-bottom: 100px;
    @include media-breakpoint-up(lg) {
        padding-bottom: 0;
    }
    // table {
    //     @include font-size(12px);
    //     width: 100%;
    //     border-collapse: collapse;
    // }
    // tr.border-bottom th {
    //     border-bottom: 1px solid white; 
    //     margin-bottom: 10px;
    //     padding-bottom: 5px;
    // }
    // th {
    //     text-align: left;
    //     vertical-align: top;
    // }
    // td {
    //     padding-top: 4px;
    //     padding-bottom: 4px;
    // }

    // .first {
    //     margin-left: calc(-100vw / 2 + 500px / 2)
    // }

    .scroll-indicator {
        position: absolute;
        bottom: 90px;
        width: 135px;
        height: 100px;
        opacity: 0;
        display: none;
        right: 135px;
        @include media-breakpoint-up(xl) { 
            display: block;
        }
        .label {
            @extend .font-title;
            font-weight: $weight-bold;
            text-transform: lowercase;
            font-size: 20px;
            position: absolute;
            bottom: 10px;
            left: 0px;
            text-decoration: none;
            color: inherit;
            @include media-breakpoint-up(md) { 
                font-size: 24px;
            }
        }
        &:before {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            height: 2px;
            content: "";
            transition: all 0.3s linear;
            background-color: #fff;
        }
        &:after {
            position: absolute;
            right: 0;
            top: 0;
            width: 2px;
            height: 100%;
            content: "";
            background-color: #fff;
            transition: all 0.3s linear;
        }
        &.is-inview {
            opacity: 1;
        }
        > div {
            position: relative;
            width: 100%;
            height: 100%;
            &:after {
                transition: all 0.3s linear;
                content: "";
                width: 100%;
                position: absolute;
                top: 0%;
                right: calc(-100%);
                border-top: 2px solid #fff;
            }
        }

        
    }
}