.section--5 {

	padding-bottom: 44px;
    @include media-breakpoint-up(lg) {
        padding-bottom: 0;
    }
	svg {
        width: 100%;
        height: auto;
    }
    .first {
        .container {
            @include media-breakpoint-up(lg) {
                margin-left: 35px;
            }
            @include media-breakpoint-up(xl) {
                flex-shrink: 0;
                margin-left: calc( 100vw/2 - (1160px/2) );
                margin-right: 100px;
            }
        }
    }
    
    // graphic
    .is-inview {
        .s5-fade {
            opacity: 1;
            &--1 { transition-delay: 0.1s; }
            &--2 { transition-delay: 0.2s; }
            &--3 { transition-delay: 0.3s; }
            &--4 { transition-delay: 0.4s; }
            &--5 { transition-delay: 0.5s; }
        }
    }
    .s5-font-graphic {
        font-family: $font-title;
        font-variant-numeric: tabular-nums;
        font-feature-settings: "calt" 0;
        font-size: 26px;
        &--smaller {
            font-size: 20px;
        }
        &--pie {
            font-size: 19px;
        }
    }
    .s5-fade {
        opacity: 0;
        will-change: opacity;
        transition: opacity 0.3s ease;
    }

    .car-pie {
        align-self: flex-end;
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 600px;
        margin-left: auto;
        margin-right: 0;

        @include media-breakpoint-up(lg) {
            width: 700px;
            max-width: 700px;
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 25px;
        }

        @include media-breakpoint-up(xl) {
            width: 1000px;
            max-width: 1000px;
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;
        }

        .car-bg {
            right: 0;
            top: 0;
            pointer-events: none;
            display: block;
            margin-right: 0;
            margin-left: auto;
            width: 135%;
            max-width: none;
            @include media-breakpoint-up(md) {
            }
            @include media-breakpoint-up(lg) {
                width: 100%;
                max-width: 595px;
            }
            @include media-breakpoint-up(xl) {
                width: 100%;
                max-width: 855px;
            }
        }
        .visual {
            position: relative;
        }

        .svg-pie {
            height: auto;
            position: absolute;
            bottom: 0;
            opacity: 0;
            transition: opacity 0.5s ease;
            &.svg-2020 {
                width: 86%;
                right: 14%;
                @include media-breakpoint-up(lg) {
                    right: 32%;
                    width: 53%;
                }
            }
            &.svg-2025 {
                width: 86%;
                right: 14%;
                @include media-breakpoint-up(lg) {
                    right: 30%;
                    width: 55%;
                }
            }
            &.is-selected {
                opacity: 1;
                transition-delay: 0.5s;
            }
        }
        .pie-aligned-top {
            top: 0;
            left: 0;
            @include media-breakpoint-up(lg) {
                position: absolute;
            }
        }
        .source {
            bottom: 0;
            left: 0;
            @include media-breakpoint-up(lg) {
                position: absolute;
                bottom: 0;
            }
            @include media-breakpoint-up(xl) {
                bottom: 0;
            }
        }
    }
    .toggle-year {
        .inner {
            background: #FFFFFF;
            color: #000000;
            text-align: center;
            height: 40px;
            border-radius: 20px;
            padding: 3px;
            display: block;
            width: 152px;
            position: relative;
            z-index: 30;
            overflow: hidden;
            box-sizing: border-box;
            button {
                border: 0;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                cursor: pointer;
                font-size: 15px;
                line-height: 34px;
                display: inline-block;
                padding: 0 20px;
                background-color: transparent;
                font-family: $font-title;
                font-variant-numeric: tabular-nums;
                &.is-selected {
                    border-radius: 20px;
                    background-color: $primary-color;
                    color: $white;
                    cursor: default;
                    &:hover {
                        color: $white;
                    }
                }
                &:hover {
                    // color: $orange;
                }
                &:nth-child(2) {
                    margin-left: -15px;
                }
            }
        }
    }

    
}