.section--6 {

	svg {
        width: 100%;
        height: auto;
    }

    .s6-font-graphic {
        font-family: $font-title;
        font-size: 16px;
        font-variant-numeric: tabular-nums;
        @include media-breakpoint-up(md) {
            font-size: 20px;
        }
    }

    .s6-fade {
        opacity: 0;
        will-change: opacity;
        transition: opacity 0.3s ease;
    }

    .ig-bars {
        .svg {
            position: absolute;
            right: 15px;
            bottom: 40%;
            width: 50%;
            @include media-breakpoint-up(md) {
                top: 17%;
                bottom: auto;
                width: 65%;
                right: 6%;
            }

            svg {
                width: 100%;
                opacity: 0;
            }
            &.is-inview {
                svg {
                    will-change: opacity;
                    transition: opacity 1s ease;
                    transition-delay: 1.5s;
                    opacity: 1;
                }
            }
        }
    }


    .is-inview {
        .s6-fade {
            opacity: 1;
            &--1 { transition-delay: 0.1s; }
            &--2 { transition-delay: 0.2s; }
            &--3 { transition-delay: 0.3s; }
            &--4 { transition-delay: 0.4s; }
            &--5 { transition-delay: 0.5s; }
            &--5 { transition-delay: 0.5s; }
            &--6 { transition-delay: 0.6s; }
            &--7 { transition-delay: 0.7s; }
            &--8 { transition-delay: 0.8s; }
            &--9 { transition-delay: 0.9s; }
            &--10 { transition-delay: 1s; }
            &--11 { transition-delay: 1.1s; }
        }
    }
}

@keyframes arrowgrow {
  to {
    stroke-dashoffset: 0;
  }
}
