.section--7 {

    .locations {
        position: relative;
        border-bottom: 1px solid white;
        overflow: hidden;
        li {
            border-top: 1px solid white;
            @include media-breakpoint-up(md) {
                min-height: 150px;
            }
            &.is-open {
                @include media-breakpoint-down(md) {
                    i.number {
                        opacity: 1;
                    }
                    .globe {
                        opacity: 1;
                    }
                    .open-prompt { 
                        transform: rotate(45deg);
                    }
                    .photography {
                        opacity: 1;
                        max-height: 300px;
                    }
                }
            }
            &:hover {
                @include media-breakpoint-up(md) {
                    i.number {
                        opacity: 1;
                    }
                    .globe {
                        opacity: 1;
                    }
                    .open-prompt { 
                        transform: rotate(45deg);
                    }
                    .photography {
                        max-height: none;
                        transform: translateX(0px);
                        transition: all 0.3s ease;
                        opacity: 1;
                    }
                }
            }
        }
        &--item {
            display: flex;
            position: relative;
            span {
                display: block;
                font-size: 24px;
                font-weight: $weight-bold;
                @include bp-xs {
                    font-size: 32px;
                }
                @include media-breakpoint-up(md) {
                    font-size: 42px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 48px;
                }
            }
            p {
                font-family: $font-title;
                margin: 0;
                margin-bottom: 1em;
            }
            i.number {
                position: absolute;
                font-style: normal;
                text-align: center;
                transition: opacity 0.3s ease;
                right: -10px;
                right: auto;
                font-size: 26px;
                top: 0px;
                line-height: 1;
                @extend .font-title;
                font-weight: $weight-black;
                display: none;
                @include bp-xs {
                    font-size: 34px;
                }
                @include media-breakpoint-up(md) {
                    display: block;
                    width: 100px;
                    font-size: 100px;
                    opacity: 0;
                    right: 13%;
                    left: auto;
                }
                @include media-breakpoint-up(lg) {
                    right: 15%;
                }
                @include media-breakpoint-up(xl) {
                    top: -4px;
                    right: 30px;
                    font-size: 140px;
                }
                &:after {
                    content: ".";
                    @include media-breakpoint-up(md) {
                        display: none;
                    }
                }
            }
            .open-prompt {
                position: absolute;
                top: 10px;
                right: 0px;
                width: 25px;
                height: 25px;
                opacity: 1;
                transition: all 0.2s ease;
                cursor: pointer;
                @include media-breakpoint-up(md) {
                    display: none;
                }
                div {
                    position: relative;
                    width: 25px;
                    height: 25px;
                    &:before, &:after {
                        position: absolute;
                        left: 12px;
                        content: ' ';
                        height: 25px;
                        width: 3px;
                        background-color: #fff;
                    }
                    &:before {
                        transform: rotate(90deg);
                    }
                }
            }
            .globe {
                position: absolute;
                top: 15px;
                opacity: 0;
                transition: opacity 0.3s ease;
                width: 120px;
                text-align: center;
                left: auto;
                right: 0px;
                @extend .font-title;
                font-weight: $weight-medium;
                font-size: 90%;
                @include bp-s {
                    right: 20px;
                }
                @include media-breakpoint-up(md) {
                    top: 18px;
                    right: auto;
                    left: -150px;
                }
                @include media-breakpoint-up(xl) {
                    left: -200px;
                }
                img {
                    display: block;
                    width: 50px;
                    margin-right: auto;
                    margin-left: auto;
                    text-align: center;
                    @include media-breakpoint-up(md) {
                        margin-bottom: 7px;
                        width: 74px;
                    }
                }
                >div {
                }
            }
                
        }
        .photography {
            right: 0;
            top: 1px;
            max-height: 0;
            display: block;
            object-fit: cover;
            transition: all 0.3s ease;
            @include media-breakpoint-up(md) {
                position: absolute;
                width: 30%;
                height: calc(100% - 1px);
                opacity: 0;
                transform: translateX(200px);
            }
        }
    }
    
}