.section--1 {
	.title {
		position: relative;
		top: 30px;
		z-index: 10;
		left: 0;
		right: 0;
		margin-bottom: 30px;
		overflow: hidden;
		width: 100%;
		@include media-breakpoint-up(md) {
			position: absolute;
			top: 82px;
		}
		h1 {
			margin-bottom: 20px;
		}
		p {
			max-width: 470px;
			font-weight: normal;
		}
	}

	.collage {
		position: relative;
		overflow: hidden;
		@include media-breakpoint-up(md) {
			height: 100vh;
		}
		&--top {
			@include media-breakpoint-up(md) {
				flex-direction: row-reverse;
				min-height: 420px;
			}
		}
		&--bottom {
			min-height: 236px;
		}
		&--row {
			display: flex;
			@include media-breakpoint-up(md) {
				height: 50%;
			}

		}

		.scroll-indicator {
			position: absolute;
			bottom: 90px;
			right: 35px;
			width: 135px;
			height: 100px;
			.label {
				@extend .font-title;
				font-weight: $weight-bold;
				opacity: 0;
				will-change: opacity;
				text-transform: lowercase;
				font-size: 20px;
				@include media-breakpoint-up(md) { 
					font-size: 24px;
				}
			}
			@include media-breakpoint-up(md) { 
				right: 135px;
				display: block;
			}
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				width: 2px;
				height: 0%;
				content: "";
				background-color: #fff;
				transition: all 0.3s linear;
			}
			&:after {
				position: absolute;
				width: 0%;
				left: 0;
				bottom: 0;
				height: 2px;
				content: "";
				transition: all 0.3s linear;
				background-color: #fff;
			}
			&.is-inview {
				.label {
					opacity: 1;
					transition: opacity 0.5s ease;
					transition-delay: 1.5s;
				}
				&:before {
					height: 100%;
					transition-delay: 1.5s;
				}
				&:after {
					width: 100%;
					transition-delay: 1.8s;
				}
				> div {
					&:after {
						height: 100%;
						transition-delay: 2.1s;
					}
				}
			}
			> div {
				position: relative;
				width: 100%;
				height: 100%;
				&:after {
					transition: all 0.3s linear;
					content: "";
					height: 0%;
					position: absolute;
					top: 100%;
					left: calc(100% - 2px);
					border-right: 2px solid white;
				}
			}

			.label {
				position: absolute;
				bottom: 10px;
				left: 10px;
				text-decoration: none;
				color: inherit;
			}
		}
	}

	.road1 {
		max-width: 45%;
		float: right;
		display: none;
		@include media-breakpoint-up(md) {
			display: block;
		}
	}
	figure {
		overflow: hidden;
		pointer-events: none;
		img {
			display: block;
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
		&.road1 {
			min-width: 40%;
			img {
				object-position: left center;
				@include animation('pulse 60s infinite 20s linear alternate');
			}
		}
		&.road2 {
			min-width: 70%;
			img {
				transform-origin: 0 50%;
				@include animation('pulse 60s infinite 40s linear alternate');
			}
		}
		&.road3 {
			min-width: 30%;
			img {
				@include animation('pulse 60s infinite 0s linear alternate');
			}
		}
	}

}
@include keyframes(pulse) {
	0% { transform: scale(1); }
	33% { transform: scale(1.1); }
	66% { transform: scale(1.1); }
	100% { transform: scale(1); }
}

&.ft-embedded {
	.section--1 {
		.collage {
			@include media-breakpoint-up(md) {
				height: calc(100vh - 108px);
			}
		}
	}
}


.growth-ev-market {
	h2 {
		margin-bottom: 40px;
		max-width: 50%;
	}
	
	.first {
        .container {
            @include media-breakpoint-up(lg) {
                margin-left: 50px;
            }
            @include media-breakpoint-up(xl) {
                flex-shrink: 0;
                margin-left: calc( 100vw/2 - (1160px/2) );
                margin-right: 100px;
            }
        }
    }

	.s2-figure1, .s2-figure2 {
		img {
			max-height: 18vh;
			width: auto;
		}
	}
	.queen-ev {
		img {
			max-width: 312px;
			@include media-breakpoint-up(md) {
				max-width: 100%;
			}
		}
	}
	.polestar-2 {
		img {
			max-width: 411px;
			@include media-breakpoint-up(md) {
				max-width: 100%;
			}
		}
	}			
	
	// graphic svg
	.s2-g1 {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 50px;
		width: 100%;
		@include media-breakpoint-up(md) {
			max-width: 660px;
		}
		@include media-breakpoint-up(lg) {
			max-width: 100%;
			padding-top: 0;
			transform: translateX(-8%);
		}
		@include media-breakpoint-up(xl) {
			transform: translateX(-5%);
		}
		@include bp-xl {
			transform: translateX(-2.5vw);
		}
	}
	svg {
		width: 100%;
		height: auto;
	}
	.copy-2020 {
		@extend .font-title;
	}
	.copy-2020, .line-2020 {
		opacity: 0;
	}

	.s2-g2 {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(md) {
			max-width: 100%;
		}
	}


	.is-inview {
	    .path {
			stroke-dasharray: 1500 1500;
			stroke-dashoffset: -1500;
			animation: dash 4s linear forwards;
			@include media-breakpoint-up(lg) {
				stroke-dasharray: 1250 1250;
		  		stroke-dashoffset: -1250;
			}
			&--2 {
				stroke-dasharray: 1200 1200;
				stroke-dashoffset: -1200;
				@include media-breakpoint-up(lg) {
					stroke-dasharray: 950 950;
			  		stroke-dashoffset: -950;
				}
			}
		}
		.copy-2020, .line-2020 {
			opacity: 1;
			transition: opacity 0.5s ease;
			transition-delay: 3.5s;
		}
	}
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

