.section--4 {
    padding-bottom: 10px;


    .source {
        position: relative;
        // top: -20px;
    }
}

.sequence-image-list {
    height: 0;
    max-height: 0;
    overflow: hidden;
}

.battery-sequence-sizer {
    opacity: 0.1;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.ig-100vh {
    height: 100vh;
    overflow: hidden;
    .ig-flex-center {
        justify-content: flex-start;
        @include media-breakpoint-up(lg) {
            justify-content: center;
        }
    }
}

.show1 {
    .infobox--1 {
        opacity: 1;
        transform: translateX(0px);
    }
}
.show2 {
    .infobox--2 {
        opacity: 1;
        transform: translateX(0px);
    }
}
.show3 {
    .infobox--3 {
        opacity: 1;
        transform: translateX(0px);
    }
}
.show4 {
    .infobox--4 {
        opacity: 1;
        transform: translateX(0px);
    }
}
.show5 {
    .infobox--5 {
        opacity: 1;
        transform: translateX(0px);
    }
}

.infobox-container-mobile {
    position: relative;
    @include media-breakpoint-up(lg) {
        position: static;
    }

}

.infobox {
    opacity: 0;
    will-change: opacity, transform;
    transition: all 0.5s ease;
    position: absolute;
    top: 50px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-up(lg) {
        max-width: 260px;
        top: 20%;
    }
    @include media-breakpoint-up(xl) {
        max-width: 280px;

    }

    &.is-visible {
        opacity: 1;
    }
    &:before {
        content: "";
        display: block;
        width: 30vw;
        height: 1px;
        // background-color: $primary-color;
    }
    &--left {
        transform: translateX(-40px);
        left: 0;
        @include media-breakpoint-up(lg) {
            left: 20px;
        }
        @include media-breakpoint-up(xl) {
            left: 0%;
        }
    }
    &--right {
        transform: translateX(40px);
        right: 0;
        @include media-breakpoint-up(xl) {
            right: 0%;
        }
    }
    &--top {
        @include media-breakpoint-up(lg) {
            top: 40%;
        }
    }
    p {
        background-color: #fff;
        border: 1px solid $primary-color;
        padding: 12px;
        color: $primary-color;
        font-family: $font-title;
        font-size: 12px;
        overflow: hidden;
        @include media-breakpoint-up(md) {
            font-size: 14px;
        }
        strong {
            font-weight: $weight-bold;
            display: block;
        }
    }
    img {
        float: left;
        display: block;
        width: 140px;
        @include media-breakpoint-up(lg) {
            width: 200px;
        }
    }
}