// In `sass/main.scss`
@import "./node_modules/bootstrap/scss/bootstrap-grid.scss";

@import 'base/variables';
@import 'base/mixin';
@import 'base/fonts';

html, body { padding: 0; margin: 0; }
#ig-infographic {
	// global
	@import 'vendor/sanitize';
	@import 'vendor/slick';


	@import 'base/grid';
	@import 'base/print';
	@import 'base/commun';
	@import 'base/animation';
	@import 'base/spacing';
	@import 'base/ie';
	@import 'base/text';
	@import 'base/wipesection';

	// modules
	@import 'components/loader';
	@import 'components/navigation';
	@import 'components/figure';
	@import 'components/bar-stat';
	@import 'components/section1';
	@import 'components/section2';
	@import 'components/section3';
	@import 'components/section4';
	@import 'components/section5';
	@import 'components/section6';
	@import 'components/section7';
	@import 'components/section8';
	
	// spanish css tweaks
	@import 'components/lang_es';

	padding: 0;
	margin: 0 auto;
	min-height: 100%;
	font-family: $font-copy;
	font-weight: normal;
	color: $copy-color;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bg-color;
	@extend .base-text;
	box-sizing: border-box;
	height: 100%;
	position: relative;
}

