<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>{{ htmlWebpackPlugin.options.pkg.title }}</title>
<meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
<meta name="robots" content="index,follow">
<meta name="googlebot" content="noarchive">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="title" content="{{ htmlWebpackPlugin.options.pkg.title }}">
<meta name="description" content="{{ htmlWebpackPlugin.options.pkg.description }}">

<!-- Facebook settings -->
{{! Facebook Description !}}
{{#if htmlWebpackPlugin.options.pkg.social.facebook.description}}
    <meta property="og:description" content="{{ htmlWebpackPlugin.options.pkg.social.facebook.description }}">
{{else}}
    <meta property="og:description" content="{{ htmlWebpackPlugin.options.pkg.social.default.description }}">
{{/if}}

{{! Facebook Image !}}
{{#if htmlWebpackPlugin.options.pkg.social.facebook}}
    <meta property="og:image" content="{{ htmlWebpackPlugin.options.pkg.social.facebook.image }}">
    <meta property="og:title" content="{{ htmlWebpackPlugin.options.pkg.social.facebook.title }}">
{{else}}
    <meta property="og:image" content="{{ htmlWebpackPlugin.options.pkg.social.default.image }}">
    <meta property="og:title" content="{{ htmlWebpackPlugin.options.pkg.social.default.title }}">
{{/if}}

<meta property="og:type" content="Article">
<meta property="og:url" content="{{ htmlWebpackPlugin.options.pkg.prodUrl }}">

<!-- Twitter card settings -->
{{#if htmlWebpackPlugin.options.pkg.social.twitter.description}}
    <meta property="twitter:description" content="{{ htmlWebpackPlugin.options.pkg.social.twitter.description }}">
{{else}}
    <meta property="twitter:description" content="{{ htmlWebpackPlugin.options.pkg.social.default.description }}">
{{/if}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ htmlWebpackPlugin.options.pkg.social.default.title }}">

{{!-- <!-- bugherd cient feedback tool, DO NOT INCLUDE in production --> --}}
{{!-- <script type="text/javascript" src="https://www.bugherd.com/sidebarv2.js?apikey=bv9vxomcjqfnlks21ewpbg" async="true"></script> --}}

<!-- infographic CSS -->
<link type="text/css" rel="stylesheet" href="{{ htmlWebpackPlugin.options.pkg.cdn }}css/{{ htmlWebpackPlugin.options.pkg.name}}.css">