{{!
 *  Index
 *  ---------------------
 *  @description :  The index handlebars template.
 *
 *  The index handlebars template serves as the entry template for the
 *  interactive's `index.html`. 
 !}}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body>
        <!-- infographic start -->
        <div id="ig-infographic">
            {{> interactive }}
        </div>
        {{!-- <div style="background: navy" class="related-articles">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div> --}}
        <!-- infographic end -->
    </body>
</html>