{{!
 *  Interactive
 *  ---------------------------
 *  @description :  The interactive handlebars template.
 *
 *  The interactive handlebars template 
 *
 !}}

 {{! Set context for the HTML to only use the package.json data }}
{{#with htmlWebpackPlugin.options.pkg icdn=htmlWebpackPlugin.options.cdn root=htmlWebpackPlugin.options.pkg.cdn data=htmlWebpackPlugin.options.pkg.data.lang_en}}
	{{#each data.lang_es }}
	<main class="lang_{{language}}">
		<a href="#s1" class="screen-reader-text">Skip to content</a>
		<div id="ft-fixed-nav-height"></div>
		<div class="loader-ripple"><div></div><div></div></div>
		
		{{> partials/navigation }}
		
		{{> partials/section1 this cdn=assets-root }}
		
		{{> partials/section1_2-horizontal cdn=assets-root }}

		{{> partials/section2 cdn=assets-root }}

		{{> partials/section3-horizontal cdn=assets-root }}

		{{> partials/section4 cdn=assets-root }}

		{{> partials/section5-horizontal cdn=assets-root }}

		{{> partials/section6 cdn=assets-root }}

		{{> partials/section7 cdn=assets-root }}

		{{> partials/section8 cdn=assets-root }}
		
	</main>
	{{/each}}
	{{root}}
{{/with}}

{{!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script> --}}
<script>window.jQuery || document.write('<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ==" crossorigin="anonymous"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>
{{!-- <script src="https://pym.nprapps.org/pym.v1.min.js"></script> --}}
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script> --}}
<script src="{{htmlWebpackPlugin.files.js}}" async></script>
{{!-- <script src="{{htmlWebpackPlugin.files.js}}?v={{ htmlWebpackPlugin.options.timestamp }}" async></script> --}}


