<div class="bar-stat bar-stat--vertical ivanim-anim">
    <div class="bar-width">
        <div class="bar-container">
            <div class="bar-vertical" data-percentage="100%">
                <div class="percentage">
                    <span class="percent js-stat-number" data-separator="{{s6-data-separator}}" data-decimal="0" data-duration="1.5" data-number="1160" data-prefix="$" data-suffix="">0</span>
                </div>
            </div>
        </div>
        <div class="year">
            <span class="name">2010</span>
        </div>
    </div>

    <div class="bar-width">
        <div class="bar-container">
            <div class="bar-vertical" data-percentage="78%">
                <div class="percentage">
                    <span class="percent js-stat-number" data-separator="{{s6-data-separator}}" data-decimal="0" data-duration="1.5" data-number="899" data-prefix="$" data-suffix="">0</span>
                </div>
            </div>
        </div>
        <div class="year">
            <span class="hide-sml">2011</span>
        </div>
    </div>
    <div class="bar-width">
        <div class="bar-container">
            <div class="bar-vertical" data-percentage="61%">
                <div class="percentage">
                    <span class="percent js-stat-number" data-separator="{{s6-data-separator}}" data-decimal="0" data-duration="1.5" data-number="707" data-prefix="$" data-suffix="">0</span>
                </div>
            </div>
        </div>
        <div class="year">
            <span class="hide-sml">2012</span>
        </div>
    </div>
    <div class="bar-width">
        <div class="bar-container">
            <div class="bar-vertical" data-percentage="56%">
                <div class="percentage">
                    <span class="percent js-stat-number" data-separator="{{s6-data-separator}}" data-decimal="0" data-duration="1.5" data-number="650" data-prefix="$" data-suffix="">0</span>
                </div>
            </div>
        </div>
        <div class="year">
            <span class="hide-sml">2013</span>
        </div>
    </div>
    <div class="bar-width">
        <div class="bar-container">
            <div class="bar-vertical" data-percentage="50%">
                <div class="percentage">
                    <span class="percent js-stat-number" data-separator="{{s6-data-separator}}" data-decimal="0" data-duration="1.5" data-number="577" data-prefix="$" data-suffix="">0</span>
                </div>
            </div>
        </div>
        <div class="year">
            <span class="hide-sml">2014</span>
        </div>
    </div>
    <div class="bar-width">
        <div class="bar-container">
            <div class="bar-vertical" data-percentage="32%">
                <div class="percentage">
                    <span class="percent js-stat-number" data-separator="{{s6-data-separator}}" data-decimal="0" data-duration="1.5" data-number="373" data-prefix="$" data-suffix="">0</span>
                </div>
            </div>
        </div>
        <div class="year">
            <span class="name">2015</span>
        </div>
    </div>
    <div class="bar-width">
        <div class="bar-container">
            <div class="bar-vertical" data-percentage="25%">
                <div class="percentage">
                    <span class="percent js-stat-number" data-separator="{{s6-data-separator}}" data-decimal="0" data-duration="1.5" data-number="288" data-prefix="$" data-suffix="">0</span>
                </div>
            </div>
        </div>
        <div class="year">
            <span class="hide-sml">2016</span>
        </div>
    </div>
    <div class="bar-width">
        <div class="bar-container">
            <div class="bar-vertical" data-percentage="18%">
                <div class="percentage">
                    <span class="percent js-stat-number" data-separator="{{s6-data-separator}}" data-decimal="0" data-duration="1.5" data-number="214" data-prefix="$" data-suffix="">0</span>
                </div>
            </div>
        </div>
        <div class="year">
            <span class="hide-sml">2017</span>
        </div>
    </div>
    <div class="bar-width">
        <div class="bar-container">
            <div class="bar-vertical" data-percentage="15%">
                <div class="percentage">
                    <span class="percent js-stat-number" data-separator="{{s6-data-separator}}" data-decimal="0" data-duration="1.5" data-number="176" data-prefix="$" data-suffix="">0</span>
                </div>
            </div>
        </div>
        <div class="year">
            <span class="hide-sml">2018</span>
        </div>
    </div>

    <div class="bar-width">
        <div class="bar-container">
            <div class="bar-vertical" data-percentage="13%">
                <div class="percentage">
                    <span class="percent js-stat-number" data-separator="{{s6-data-separator}}" data-decimal="0" data-duration="1.5" data-number="156" data-prefix="$" data-suffix="">0</span>
                </div>
            </div>
        </div>
        <div class="year">
            <span class="name">2019</span>
        </div>
    </div>

    <div class="bar-width">
        <div class="bar-container">
            <div class="bar-vertical" data-percentage="0%">
                <div class="percentage">
                    
                </div>
            </div>
        </div>
        <div class="year">
            <span class="name"></span>
        </div>
    </div>

    <div class="bar-width">
        <div class="bar-container">
            <div class="bar-vertical bar-vertical--white" data-percentage="9%">
                <div class="percentage">
                    <span class="percent js-stat-number" data-separator="{{s6-data-separator}}" data-decimal="0" data-duration="1.5" data-number="100" data-prefix="<$" data-suffix="">0</span>
                </div>
            </div>
        </div>
        <div class="year">
            <span class="name">2024</span>
        </div>
    </div>
</div>