<div class="bar-stat bar-stat--horizontal ivanim-anim">
    <div class="bar" data-percentage="{{valuegraph}}{{symbol}}">
        <div class="car">
            <img src="{{cdn}}media/images/bar-chart-car-0{{number}}@2x.png" alt="">
        </div>
        <div class="percentage">
            <span class="percent js-stat-number" data-separator="." data-decimal="0" data-duration="1.5" data-number="{{value}}" data-prefix="" data-suffix="{{symbol}}">0</span>
        </div>
    </div>
    <div class="label">
        <span class="name">{{name}}</span>
    </div>
</div>