<span class="loader">	
	<svg width="24px" height="36px" viewBox="0 0 24 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="show">
		<g id="all" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd">
			<g id="i-main" class="icon-fill-color">
				<path d="M12.85,34.3 L22.3,34.3 L22.3,13.514 L12.85,13.514 L12.85,34.3 Z M1.7,34.3 L11.15,34.3 L11.15,13.514 L1.7,13.514 L1.7,34.3 Z M11.15,1.745 L11.15,11.814 L1.71,11.814 C1.809,6.599 6.009,2.189 11.15,1.745 Z M22.29,11.814 L12.85,11.814 L12.85,1.745 C17.991,2.189 22.191,6.599 22.29,11.814 Z M12,0 C5.434,0 0,5.434 0,12 L0,36 L24,36 L24,12 C24,5.434 18.566,0 12,0 Z" id="Logo"></path>
			</g>
		</g>
	</svg>
</span>