<nav id="navigation" class="menu">
    <ul>
        <li><a href="#s1" class="scrollTo" id="menu-s1"><i>1</i> <span>{{s1-title}}</span></a></li>
        <li><a href="#s2" class="scrollTo" id="menu-s2"><i>2</i> <span>{{s2-title}}</span></a></li>
        <li><a href="#s3" class="scrollTo" id="menu-s3"><i>3</i> <span>{{s3-title}}</span></a></li>
        <li><a href="#s4" class="scrollTo" id="menu-s4"><i>4</i> <span>{{s4-title}}</span></a></li>
        <li><a href="#s5" class="scrollTo" id="menu-s5"><i>5</i> <span>{{s5-title}}</span></a></li>
        <li><a href="#s6" class="scrollTo" id="menu-s6"><i>6</i> <span>{{s6-title}}</span></a></li>
        <li><a href="#s7" class="scrollTo" id="menu-s7"><i>7</i> <span>{{s7-title}}</span></a></li>
    </ul>
</nav>