<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 361">
    <defs>
        <style>
            .s1-2-mob-cls-1,
            .s1-2-mob-cls-10,
            .s1-2-mob-cls-11,
            .s1-2-mob-cls-2,
            .s1-2-mob-cls-3,
            .s1-2-mob-cls-8,
            .s1-2-mob-cls-9 {
                fill: none;
            }
            .s1-2-mob-cls-1,
            .s1-2-mob-cls-11 {
                stroke: #000;
            }
            .s1-2-mob-cls-1,
            .s1-2-mob-cls-10,
            .s1-2-mob-cls-2,
            .s1-2-mob-cls-3,
            .s1-2-mob-cls-9 {
                stroke-linecap: round;
            }
            .s1-2-mob-cls-1,
            .s1-2-mob-cls-11,
            .s1-2-mob-cls-8 {
                stroke-miterlimit: 10;
            }
            .s1-2-mob-cls-1 {
                stroke-width: 0.68px;
                stroke-dasharray: 1.3 3.24;
            }
            .s1-2-mob-cls-2,
            .s1-2-mob-cls-8,
            .s1-2-mob-cls-9 {
                stroke: #00282d;
            }
            .s1-2-mob-cls-10,
            .s1-2-mob-cls-2,
            .s1-2-mob-cls-3,
            .s1-2-mob-cls-9 {
                stroke-linejoin: round;
            }
            .s1-2-mob-cls-2,
            .s1-2-mob-cls-3 {
                stroke-width: 2.92px;
            }
            .s1-2-mob-cls-10,
            .s1-2-mob-cls-3 {
                stroke: #d9d538;
            }
            .s1-2-mob-cls-4,
            .s1-2-mob-cls-7 {
                font-size: 14px;
            }
            .s1-2-mob-cls-4,
            .s1-2-mob-cls-5,
            .s1-2-mob-cls-7 {
                fill: #00282d;
            }
            .s1-2-mob-cls-4,
            .s1-2-mob-cls-6 {
                font-family: Cy-Regular, Cy;
            }
            .s1-2-mob-cls-5 {
                font-size: 12px;
                font-family: Cy-SemiBold, Cy;
                font-weight: 600;
            }
            .s1-2-mob-cls-6 {
                font-weight: 400;
            }
            .s1-2-mob-cls-7 {
                font-family: Korolev-Medium, Korolev;
                font-weight: 500;
            }
            .s1-2-mob-cls-11,
            .s1-2-mob-cls-8 {
                stroke-width: 0.7px;
            }
            .s1-2-mob-cls-10,
            .s1-2-mob-cls-9 {
                stroke-width: 3px;
            }
        </style>
    </defs>

    <g id="s1_2_m_Line_chart_01" data-name="Line chart 01">
        <text class="s1-2-mob-cls-7" transform="translate(0.69 275.05)">0.2</text>
        <text class="s1-2-mob-cls-7" transform="translate(0.69 225.91)">0.4</text>
        <text class="s1-2-mob-cls-7" transform="translate(0.69 176.76)">0.6</text>
        <text class="s1-2-mob-cls-7" transform="translate(0.69 127.62)">0.8</text>
        <text class="s1-2-mob-cls-7" transform="translate(0.69 78.48)">1.0</text>
        <text class="s1-2-mob-cls-7" transform="translate(0.69 29.33)">1.2</text>
        <text class="s1-2-mob-cls-7" transform="translate(62.4 357.04)">2019</text>
        <text class="s1-2-mob-cls-7" transform="translate(191.05 357.04)">2020</text>
        <text class="s1-2-mob-cls-7" transform="translate(290.53 357.04)">2021</text>
        <line class="s1-2-mob-cls-8" x1="0.69" y1="328.8" x2="313.67" y2="328.8" />
        <line class="s1-2-mob-cls-8" x1="0.69" y1="279.65" x2="18.86" y2="279.65" />
        <line class="s1-2-mob-cls-8" x1="0.69" y1="230.51" x2="18.86" y2="230.51" />
        <line class="s1-2-mob-cls-8" x1="0.69" y1="181.37" x2="18.86" y2="181.37" />
        <line class="s1-2-mob-cls-8" x1="0.69" y1="132.22" x2="18.86" y2="132.22" />
        <line class="s1-2-mob-cls-8" x1="0.69" y1="83.08" x2="18.86" y2="83.08" />
        <line class="s1-2-mob-cls-8" x1="0.69" y1="33.94" x2="18.86" y2="33.94" />
        <path class="s1-2-mob-cls-9 path path--2"
            d="M312.63 105.26 312.14 105.47 311.65 107.84 311.17 108.99 310.68 107.47 310.19 107.67 309.7 112.41 309.21 114.13 308.72 116.31 308.24 117.45 307.75 112.19 307.26 106.29 306.77 108.38 306.28 107.4 305.79 105.18 305.31 114.97 304.82 117.72 304.33 119.02 303.84 120.59 303.35 118.99 302.86 121.78 302.38 124.72 301.89 126.35 301.4 128.34 300.91 126.68 300.42 127.78 299.93 130.13 299.45 131.94 298.96 130.24 298.47 128.9 297.98 129.3 297.49 128.07 297 127.99 296.52 128.73 296.03 128.32 295.54 127.04 295.05 125.92 294.56 126.55 294.07 128.07 293.59 127.64 293.1 128.01 292.61 127.99 292.12 129.63 291.63 132.15 291.14 131.72 290.66 137.11 290.17 140.29 289.68 142.01 289.19 138.83 288.7 137.94 288.21 134.46 287.73 133.17 287.24 130.41 286.75 129.16 286.26 131.14 285.77 134.6 285.28 145.05 284.8 144.22 284.31 139.99 283.82 141.13 283.33 140.1 282.84 142.29 282.35 143.02 281.87 145.36 281.38 146.35 280.89 146.14 280.4 146 279.91 145.47 279.42 145.53 278.94 145.06 278.45 145.23 277.96 146.2 277.47 147.29 276.98 147.79 276.49 147.73 276.01 149.42 275.52 147.87 275.03 145.41 274.54 143.82 274.05 144.02 273.56 146.18 273.08 149.01 272.59 150.37 272.1 151.5 271.61 150.74 271.12 152.83 270.63 151.74 270.15 150.84 269.66 152.03 269.17 153.81 268.68 153.88 268.19 156.92 267.7 153.11 267.22 152.95 266.73 151.58 266.24 149.74 265.75 154.3 265.26 154.77 264.77 154.87 264.29 154.94 263.8 154.87 263.31 155.6 262.82 159.44 262.33 160.97 261.85 159.35 261.36 161.48 260.87 165.57 260.38 168.68 259.89 168.28 259.4 173.1 258.92 173.09 258.43 176.37 257.94 179.62 257.45 177.97 256.96 178.56 256.47 174.35 255.99 172.4 255.5 171.06 255.01 171.85 254.52 172.22 254.03 173.21 253.54 174.48 253.06 174.9 252.57 175.9 252.08 174.43 251.59 173.38 251.1 172.96 250.61 173.85 250.13 173.38 249.64 173.52 249.15 176.07 248.66 175.94 248.17 178.52 247.68 177.92 247.19 178.21 246.71 177.43 246.22 177.05 245.73 180.86 245.24 181 244.75 179.91 244.26 179.03 243.78 178.18 243.29 174.49 242.8 173 242.31 173.15 241.82 173.41 241.34 173.84 240.85 175.3 240.36 175.63 239.87 175.12 239.38 175.04 238.89 176.26 238.41 176.88 237.92 178.58 237.43 178.04 236.94 178.76 236.45 178.58 235.96 177.51 235.47 179.16 234.99 178.38 234.5 178.9 234.01 179.59 233.52 181.74 233.03 180.84 232.54 178.91 232.06 178.63 231.57 178.49 231.08 180.05 230.59 179.25 230.1 178.98 229.62 180.11 229.13 184.65 228.64 186.37 228.15 186.17 227.66 188.01 227.17 189.48 226.69 194.03 226.2 197.44 225.71 192.72 225.22 191.25 224.73 189.14 224.24 188.37 223.75 189.08 223.27 188.67 222.78 189.95 222.29 189.5 221.8 190.63 221.31 189.93 220.82 191.07 220.34 190.98 219.85 194.08 219.36 194.75 218.87 196.23 218.38 196.46 217.9 194.93 217.41 194.59 216.92 193.03 216.43 196.02 215.94 195.71 215.45 198.32 214.97 196.61 214.48 197.17 213.99 196.83 213.5 196.07 213.01 195.52 212.52 193.41 212.03 195.31 211.55 195.78 211.06 194.91 210.57 193.83 210.08 192.7 209.59 195.93 209.1 194.32 208.62 195.52 208.13 187.5 207.64 186.5 207.15 184.51 206.66 187.55 206.18 191.4 205.69 191.81 205.2 196.31 204.71 198.53 204.22 199.58 203.73 196.26 203.25 197.29 202.76 200.75 202.27 205.71 201.78 206.63 201.29 205.97 200.8 205.81 200.31 207.03 199.83 207.8 199.34 211.82 198.85 212.57 198.36 211.1 197.87 207.74 197.38 205.77 196.9 206.54 196.41 209.51 195.92 208.84 195.43 208.46 194.94 209.46 194.46 207.31 193.97 204.83 193.48 203.15 192.99 206.5 192.5 207.96 192.01 211.24 191.53 210.69 191.04 211.84 190.55 211.86 190.06 207.9 189.57 205.91 189.08 211.15 188.59 209.65 188.11 205.46 187.62 208.52 187.13 206.85 186.64 206.95 186.15 210.58 185.66 213.34 185.18 216.49 184.69 223.77 184.2 221.44 183.71 220.47 183.22 215.81 182.74 213.2 182.25 210.8 181.76 211.07 181.27 211.39 180.78 219.99 180.29 229.06 179.81 225.96 179.32 227.07 178.83 224.33 178.34 218.58 177.85 221.15 177.36 212.6 176.88 212.07 176.39 200.48 175.9 197.76 175.41 200.11 174.92 190.68 174.43 187.59 173.94 185.84 173.46 186.82 172.97 185.33 172.48 186.72 171.99 185.11 171.5 181.93 171.01 182 170.53 178.67 170.04 174.3 169.55 173.63 169.06 174.84 168.57 173.77 168.09 171.25 167.6 171.81 167.11 170.84 166.62 169.72 166.13 171.83 165.64 172.8 165.16 171.75 164.67 169.5 164.18 171.04 163.69 171.81 163.2 173.32 162.71 172.75 162.22 172.19 161.74 170.39 161.25 170.27 160.76 170.66 160.27 168.16 159.78 167.13 159.29 166.5 158.81 165.73 158.32 165.68 157.83 166.54 157.34 166.93 156.85 166.99 156.37 165.88 155.88 166.28 155.39 166.2 154.9 166.76 154.41 168.01 153.92 166.61 153.44 167.6 152.95 165.85 152.46 163.88 151.97 165.44 151.48 165.32 150.99 165.59 150.51 165.31 150.02 165.97 149.53 166.09 149.04 165.5 148.55 165.01 148.06 164.7 147.58 163.86 147.09 163.9 146.6 163.57 146.11 163.86 145.62 163.79 145.13 166.08 144.65 166.59 144.16 167.68 143.67 166.87 143.18 166.49 142.69 166.47 142.2 166.21 141.72 166.71 141.23 166.51 140.74 166.6 140.25 164.96 139.76 164.77 139.27 165.05 138.79 164.49 138.3 165.1 137.81 165.72 137.32 166.03 136.83 164.49 136.34 163.92 135.86 162.55 135.37 163.15 134.88 161.9 134.39 160.61 133.9 160.53 133.41 160.58 132.93 161.48 132.44 162.98 131.95 162.36 131.46 162.73 130.97 163.73 130.48 165.47 130 165.05 129.51 165.33 129.02 167.07 128.53 167.63 128.04 168.22 127.55 168.81 127.07 169.66 126.58 169.76 126.09 170 125.6 170.59 125.11 170.41 124.62 172.45 124.14 175.14 123.65 175.26 123.16 179.18 122.67 179.98 122.18 180.83 121.69 181.02 121.21 180.54 120.72 180.31 120.23 179.05 119.74 176.62 119.25 175.56 118.76 174.74 118.28 174.45 117.79 175.27 117.3 173.36 116.81 173.28 116.32 172.85 115.83 174.31 115.35 173.93 114.86 173.52 114.37 173.53 113.88 172.16 113.39 173.12 112.9 173.34 112.42 175.01 111.93 175.54 111.44 177.32 110.95 177.88 110.46 179.76 109.97 180.42 109.49 180.77 109 180.68 108.51 181.73 108.02 182.31 107.53 182.08 107.04 183.22 106.56 183.28 106.07 182.2 105.58 182.38 105.09 183.1 104.6 182.97 104.11 184.15 103.63 185.01 103.14 183.38 102.65 181.51 102.16 180.61 101.67 179.97 101.18 179.49 100.7 180.57 100.21 181.28 99.72 180.24 99.23 178.48 98.74 176.62 98.25 177.28 97.77 175.29 97.28 174.06 96.79 173.29 96.3 172.63 95.81 170.2 95.32 171.8 94.84 174.03 94.35 174.21 93.86 174.7 93.37 173.9 92.88 173.07 92.39 173.44 91.91 173.94 91.42 175.3 90.93 174.86 90.44 174.61 89.95 173.69 89.46 172.06 88.98 171.53 88.49 172.21 88 172.67 87.51 173.02 87.02 174.29 86.53 174.85 86.05 176.18 85.56 176.38 85.07 175.58 84.58 174.93 84.09 174.21 83.6 175.57 83.12 176.92 82.63 178.15 82.14 178.1 81.65 177.09 81.16 176.68 80.67 175.71 80.19 177.18 79.7 178.67 79.21 179.31 78.72 179.15 78.23 179.7 77.74 182.84 77.26 183.57 76.77 180.68 76.28 180.47 75.79 178.91 75.3 179.79 74.81 180.58 74.33 182 73.84 180.74 73.35 178.51 72.86 178.32 72.37 178.17 71.89 176.78 71.4 175.5 70.91 177.06 70.42 177.43 69.93 175.87 69.44 174.93 68.95 172.03 68.47 171.63 67.98 169.94 67.49 168.68 67 169.6 66.51 169.9 66.03 169.44 65.54 169.18 65.05 169.44 64.56 170.75 64.07 169.76 63.58 167.62 63.09 166.95 62.61 166.59 62.12 166.55 61.63 167.76 61.14 170.81 60.65 171.59 60.16 171.63 59.68 173.33 59.19 173.28 58.7 173.35 58.21 173.12 57.72 173.95 57.23 173.65 56.75 174.98 56.26 176.44 55.77 177.7 55.28 180.83 54.79 181.26 54.3 180.31 53.82 179.38 53.33 180.09 52.84 179.12 52.35 177.59 51.86 177.55 51.38 176.12 50.89 177.42 50.4 177.87 49.91 179.35 49.42 177.69 48.93 177.72 48.45 177.79 47.96 179.28 47.47 178.03 46.98 176.05 46.49 175.31 46 174.77 45.52 173.28 45.03 173.94 44.54 172.43 44.05 172.2 43.56 172.86 43.07 174.48 42.59 174.97 42.1 174.07 41.61 176.26 41.12 177.2 40.63 177.39 40.14 178.3 39.66 177.86 39.17 177.26 38.68 180.34 38.19 179.68 37.7 177.74 37.21 172.82 36.73 171.73 36.24 172.64 35.75 172.15 35.26 172.61 34.77 173.72 34.28 174.1 33.8 173.83 33.31 172.41 32.82 174.51 32.33 175.85 31.84 174.76 31.35 173.34 30.86 173.31 30.38 174.74 29.89 174.33 29.4 173.36 28.91 173.58 28.42 174.33 27.93 175.42 27.45 175.29 26.96 178.17 26.47 179.75 25.98 183.09 25.49 184.87 25 184.47 24.52 183.54"
        />
        <path
            class="s1-2-mob-cls-10 path"
            d="M312.63 128.11 312.14 128.15 311.65 135.18 311.17 135.18 310.68 134.62 310.19 142.7 309.7 149.46 309.21 146.69 308.72 141.91 308.24 144.89 307.75 133.91 307.26 130.54 306.77 134.21 306.28 135.18 305.79 122.2 305.31 128.53 304.82 120.86 304.33 123.4 303.84 121.33 303.35 132.2 302.86 131.26 302.38 160.07 301.89 148.63 301.4 142.55 300.91 132.78 300.42 123.72 299.93 112.98 299.45 126.28 298.96 122.93 298.47 106.12 297.98 116.59 297.49 109.73 297 90.18 296.52 89.2 296.03 84.28 295.54 83.58 295.05 78.36 294.56 78.36 294.07 79.04 293.59 80.29 293.1 69.73 292.61 69.11 292.12 75.17 291.63 74.24 291.14 72.91 290.66 69.55 290.17 77.98 289.68 89.22 289.19 80.13 288.7 72.6 288.21 66.95 287.73 68.03 287.24 76.34 286.75 78.63 286.26 79.02 285.77 80.3 285.28 85.61 284.8 85.61 284.31 78.47 283.82 74.39 283.33 75.39 282.84 85.5 282.35 71.45 281.87 87.86 281.38 105.19 280.89 108.75 280.4 110.92 279.91 120.57 279.42 120.57 278.94 123.69 278.45 131.89 277.96 132.94 277.47 132.91 276.98 132.91 276.49 135.24 276.01 136.25 275.52 132.44 275.03 124.79 274.54 134.62 274.05 142.62 273.56 140.25 273.08 140.36 272.59 149.13 272.1 143.51 271.61 149.05 271.12 136.86 270.63 139.96 270.15 151.32 269.66 151.65 269.17 156.1 268.68 152.44 268.19 154.52 267.7 147.26 267.22 148.75 266.73 148.75 266.24 151.74 265.75 159.26 265.26 171.4 264.77 171.13 264.29 175.08 263.8 185.61 263.31 193.24 262.82 194.09 262.33 192.52 261.85 195.24 261.36 195.98 260.87 191.26 260.38 189.96 259.89 187.75 259.4 195.85 258.92 196.51 258.43 202.72 257.94 208.07 257.45 202.07 256.96 206.14 256.47 201.98 255.99 204.05 255.5 205.04 255.01 203.09 254.52 204.24 254.03 204.1 253.54 203.54 253.06 201.24 252.57 198.45 252.08 196.11 251.59 201.48 251.1 202.38 250.61 205.2 250.13 207.38 249.64 207.59 249.15 210.79 248.66 207.65 248.17 210.33 247.68 202.52 247.19 207.33 246.71 210.89 246.22 211.31 245.73 214.99 245.24 219.74 244.75 220.72 244.26 209.44 243.78 204.17 243.29 203.98 242.8 208.33 242.31 205.22 241.82 203.78 241.34 211.47 240.85 223.12 240.36 223.54 239.87 224.18 239.38 231.75 238.89 212.82 238.41 212.82 237.92 214.99 237.43 204.67 236.94 198.16 236.45 194.55 235.96 207.45 235.47 206.07 234.99 209.09 234.5 216.94 234.01 218.62 233.52 217.77 233.03 219.99 232.54 225.15 232.06 224.39 231.57 226.69 231.08 235.35 230.59 236.51 230.1 239.63 229.62 248.02 229.13 245.16 228.64 244.18 228.15 241.83 227.66 242.53 227.17 242.15 226.69 242.88 226.2 246.74 225.71 247.42 225.22 246.36 224.73 247.7 224.24 245.36 223.75 251.18 223.27 245.96 222.78 242.28 222.29 242.78 221.8 239.58 221.31 246.24 220.82 245.13 220.34 241.88 219.85 242.97 219.36 243.61 218.87 241.98 218.38 248.96 217.9 251.05 217.41 251.15 216.92 251.76 216.43 259.78 215.94 259.78 215.45 263.5 214.97 265.33 214.48 269 213.99 271.79 213.5 269.92 213.01 270.84 212.52 268.9 212.03 269.87 211.55 270.08 211.06 269.9 210.57 271.14 210.08 271.65 209.59 270.95 209.1 274.17 208.62 272.75 208.13 270.07 207.64 272.45 207.15 272.74 206.66 279.02 206.18 280.34 205.69 282.33 205.2 282.59 204.71 282.12 204.22 285.27 203.73 286.63 203.25 285.91 202.76 285.96 202.27 286.42 201.78 286.42 201.29 285.81 200.8 286.15 200.31 286.49 199.83 286.37 199.34 287.05 198.85 286.9 198.36 287.29 197.87 286.4 197.38 286.34 196.9 285.88 196.41 287.7 195.92 287.44 195.43 288.29 194.94 288.61 194.46 291.38 193.97 287.67 193.48 287.11 192.99 288.74 192.5 287.5 192.01 290.78 191.53 291.67 191.04 290.43 190.55 292.52 190.06 289.78 189.57 289.44 189.08 289.75 188.59 290.47 188.11 291.54 187.62 294.39 187.13 297.95 186.64 297.95 186.15 299.05 185.66 299.13 185.18 300.62 184.69 302.29 184.2 303.3 183.71 302.08 183.22 299.84 182.74 301.13 182.25 300.68 181.76 299.99 181.27 299.72 180.78 301.49 180.29 304.89 179.81 304.88 179.32 304.94 178.83 307.82 178.34 304.45 177.85 303.75 177.36 298.94 176.88 298.33 176.39 294.72 175.9 294.02 175.41 295.83 174.92 291 174.43 289.87 173.94 288.7 173.46 288.79 172.97 288.96 172.48 292.46 171.99 291.62 171.5 286.95 171.01 286.09 170.53 285.07 170.04 281.81 169.55 281.79 169.06 281.53 168.57 284.47 168.09 287.35 167.6 287.35 167.11 287.48 166.62 289.17 166.13 288.91 165.64 288.96 165.16 290.21 164.67 289.87 164.18 290.4 163.69 284.05 163.2 289.12 162.71 294.42 162.22 294.74 161.74 297.27 161.25 297.87 160.76 298.32 160.27 297.79 159.78 297.37 159.29 297.54 158.81 298.61 158.32 300.17 157.83 300.17 157.34 300.45 156.85 300.3 156.37 299.6 155.88 300.31 155.39 302.88 154.9 302.71 154.41 302.29 153.92 303.3 153.44 303.94 152.95 304.28 152.46 304.84 151.97 305.34 151.48 305.34 150.99 305.59 150.51 305.37 150.02 305.29 149.53 305.52 149.04 305.52 148.55 305.83 148.06 306.35 147.58 306.54 147.09 307.02 146.6 307.59 146.11 307.59 145.62 308.69 145.13 308.67 144.65 308.95 144.16 309.18 143.67 309.6 143.18 309.73 142.69 309.93 142.2 309.77 141.72 309.68 141.23 309.76 140.74 310 140.25 309.83 139.76 309.83 139.27 309.92 138.79 309.65 138.3 309.91 137.81 308.96 137.32 309.15 136.83 308.78 136.34 309.26 135.86 309.13 135.37 309.24 134.88 309.37 134.39 309.13 133.9 309.35 133.41 309.59 132.93 309.64 132.44 310.13 131.95 310.47 131.46 310.65 130.97 310.88 130.48 310.91 130 310.82 129.51 310.55 129.02 310.07 128.53 310.09 128.04 311.33 127.55 313.29 127.07 313.25 126.58 313.31 126.09 313.18 125.6 312.93 125.11 313.04 124.62 313.07 124.14 313.04 123.65 313.45 123.16 313.6 122.67 313.65 122.18 313.81 121.69 313.93 121.21 314.18 120.72 314.11 120.23 313.68 119.74 313.66 119.25 313.76 118.76 313.67 118.28 313.6 117.79 314.14 117.3 314.26 116.81 313.37 116.32 313.24 115.83 312.94 115.35 313.08 114.86 313 114.37 313 113.88 312.9 113.39 312.93 112.9 312.81 112.42 313.31 111.93 313.49 111.44 313.8 110.95 313.75 110.46 314.28 109.97 314.12 109.49 313.98 109 313.98 108.51 314.21 108.02 314.48 107.53 314.53 107.04 314.5 106.56 314.65 106.07 314.02 105.58 313.91 105.09 313.68 104.6 313.64 104.11 314.04 103.63 314.33 103.14 314.12 102.65 313.41 102.16 313.61 101.67 313.32 101.18 313.14 100.7 313.41 100.21 313.44 99.72 313.5 99.23 312.92 98.74 312.81 98.25 312.33 97.77 312.26 97.28 312.52 96.79 312.86 96.3 312.91 95.81 311.32 95.32 311.6 94.84 311.94 94.35 311.92 93.86 312.13 93.37 311.96 92.88 312.12 92.39 312 91.91 312.45 91.42 312.8 90.93 312.67 90.44 313.01 89.95 313.24 89.46 313.1 88.98 313 88.49 313 88 313.55 87.51 313.58 87.02 313.86 86.53 313.91 86.05 314.12 85.56 314.09 85.07 313.84 84.58 313.92 84.09 313.98 83.6 313.81 83.12 313.97 82.63 314.01 82.14 314.45 81.65 314.39 81.16 314.54 80.67 314.09 80.19 314.33 79.7 314.74 79.21 314.73 78.72 315.17 78.23 315.27 77.74 315.89 77.26 315.66 76.77 315.43 76.28 315.17 75.79 315.06 75.3 315.19 74.81 315.19 74.33 315.05 73.84 315.01 73.35 314.36 72.86 314.42 72.37 314.06 71.89 313.12 71.4 312.95 70.91 313.02 70.42 313.31 69.93 312.56 69.44 312.53 68.95 312.3 68.47 312.11 67.98 311.75 67.49 311.36 67 312.1 66.51 312.54 66.03 312.3 65.54 312.24 65.05 312.58 64.56 312.04 64.07 311.37 63.58 311.23 63.09 311.22 62.61 310.66 62.12 310.66 61.63 310.55 61.14 311.04 60.65 311.46 60.16 311.31 59.68 311.23 59.19 310.84 58.7 311.06 58.21 311.07 57.72 310.88 57.23 311.19 56.75 310.26 56.26 310.5 55.77 310.44 55.28 310.95 54.79 311.09 54.3 311.12 53.82 311.31 53.33 311.42 52.84 311.13 52.35 310.79 51.86 310.78 51.38 311 50.89 310.98 50.4 310.79 49.91 310.2 49.42 310.29 48.93 310.54 48.45 310.17 47.96 310.42 47.47 310.52 46.98 310.22 46.49 309.67 46 309.45 45.52 308.93 45.03 307.96 44.54 308.07 44.05 308.63 43.56 308.85 43.07 309.54 42.59 309.82 42.1 309.32 41.61 309.39 41.12 309.32 40.63 309.32 40.14 309.29 39.66 309.29 39.17 309.27 38.68 309.3 38.19 309.67 37.7 309.49 37.21 308.97 36.73 308.92 36.24 309.3 35.75 309.33 35.26 309.67 34.77 309.68 34.28 310.23 33.8 310.31 33.31 310.23 32.82 310.56 32.33 310.74 31.84 310.38 31.35 310.23 30.86 310.23 30.38 308.31 29.89 308.22 29.4 308.28 28.91 308.73 28.42 308.16 27.93 308.26 27.45 308.41 26.96 308.43 26.47 308.58 25.98 309.39 25.49 310.42 25 309.83 24.52 308.72"
        />
        <line class="s1-2-mob-cls-11" x1="23.32" y1="346.33" x2="23.32" y2="329.1" />
        <line class="s1-2-mob-cls-11" x1="46.55" y1="328.74" x2="46.55" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="69.79" y1="328.74" x2="69.79" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="93.02" y1="328.74" x2="93.02" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="116.25" y1="328.74" x2="116.25" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="139.49" y1="346.33" x2="139.49" y2="329.1" />
        <line class="s1-2-mob-cls-11" x1="162.72" y1="328.74" x2="162.72" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="185.95" y1="328.74" x2="185.95" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="209.19" y1="328.74" x2="209.19" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="232.42" y1="328.74" x2="232.42" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="255.65" y1="328.74" x2="255.65" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="278.89" y1="346.33" x2="278.89" y2="329.1" />
        <line class="s1-2-mob-cls-11" x1="302.12" y1="328.74" x2="302.12" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="34.93" y1="328.74" x2="34.93" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="58.17" y1="328.74" x2="58.17" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="81.4" y1="328.74" x2="81.4" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="104.64" y1="328.74" x2="104.64" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="127.87" y1="328.74" x2="127.87" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="151.1" y1="328.74" x2="151.1" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="174.34" y1="328.74" x2="174.34" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="197.57" y1="328.74" x2="197.57" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="220.8" y1="328.74" x2="220.8" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="244.04" y1="328.74" x2="244.04" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="267.27" y1="328.74" x2="267.27" y2="338.16" />
        <line class="s1-2-mob-cls-11" x1="290.51" y1="328.74" x2="290.51" y2="338.16" />
    </g>
    <g id="s1_2_m_Labels_02" data-name="Labels 02">
        <line class="s1-2-mob-cls-1 line-2020" x1="265.73" y1="54" x2="265.73" y2="328.74" />
        <line class="s1-2-mob-cls-2" x1="28.09" y1="22.05" x2="54.91" y2="22.05" />
        <line class="s1-2-mob-cls-3" x1="28.09" y1="47.25" x2="54.91" y2="47.25" />
        <text class="s1-2-mob-cls-4" transform="translate(61.51 26.25)">{{s1-graph2-legend1}}</text>
        <text class="s1-2-mob-cls-4" transform="translate(61.51 51.45)">{{s1-graph2-legend2}}</text>
        <g class="es-s1-graph2-copy">
            <text class="s1-2-mob-cls-5 copy-2020" transform="translate(63.33 88.66)">
                {{s1-graph2-line1}}
                <tspan class="s1-2-mob-cls-6">
                    <tspan x="0" y="14.4">{{s1-graph2-line2}}</tspan>
                    <tspan x="0" y="28.8">{{s1-graph2-line3}}</tspan>
                    <tspan x="0" y="43.2">{{s1-graph2-line4}}</tspan>
                    <tspan x="0" y="57.6">{{s1-graph2-line5}}</tspan>
                </tspan>
            </text>
        </g>
    </g>
</svg>
