<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 670 264.75">
    <defs>
        <style>
            .s1-2-cls-1,
            .s1-2-cls-2,
            .s1-2-cls-3,
            .s1-2-cls-8 {
                fill: none;
            }
            .s1-2-cls-1 {
                stroke: #000;
                stroke-dasharray: 1.6 4;
            }
            .s1-2-cls-1,
            .s1-2-cls-2,
            .s1-2-cls-3 {
                stroke-linecap: round;
            }
            .s1-2-cls-1,
            .s1-2-cls-8 {
                stroke-miterlimit: 10;
            }
            .s1-2-cls-2,
            .s1-2-cls-8 {
                stroke: #00282d;
            }
            .s1-2-cls-2,
            .s1-2-cls-3 {
                stroke-linejoin: round;
                stroke-width: 3px;
            }
            .s1-2-cls-3 {
                stroke: #d9d538;
            }
            .s1-2-cls-4,
            .s1-2-cls-7 {
                font-size: 14px;
            }
            .s1-2-cls-4,
            .s1-2-cls-5,
            .s1-2-cls-7 {
                fill: #00282d;
            }
            .s1-2-cls-4,
            .s1-2-cls-6 {
                font-family: 'cy', Cy-Regular, Cy;
            }
            .s1-2-cls-5 {
                font-size: 12px;
                font-family: 'cy', Cy-Regular, Cy;
                font-weight: 600;
            }
            .s1-2-cls-6 {
                font-weight: 500;
            }
            .s1-2-cls-7 {
                font-family: "korolev", Korolev-Medium, Korolev;
                font-weight: 500;
            }
            .s1-2-cls-8 {
                stroke-width: 0.7px;
            }
        </style>
    </defs>
    <g id="Line_chart_01" data-name="Line chart 01">
        <text class="s1-2-cls-7" transform="translate(0.84 197.69)">0.2</text>
        <text class="s1-2-cls-7" transform="translate(0.84 163.69)">0.4</text>
        <text class="s1-2-cls-7" transform="translate(0.84 129.7)">0.6</text>
        <text class="s1-2-cls-7" transform="translate(0.84 95.71)">0.8</text>
        <text class="s1-2-cls-7" transform="translate(0.84 61.72)">1.0</text>
        <text class="s1-2-cls-7" transform="translate(0.84 27.73)">1.2</text>
        <text class="s1-2-cls-7" transform="translate(111.16 260.07)">2019</text>
        <text class="s1-2-cls-7" transform="translate(393.88 260.07)">2020</text>
        <text class="s1-2-cls-7" transform="translate(614.71 260.07)">2021</text>
        <line class="s1-2-cls-8" x1="0.84" y1="235.95" x2="667.66" y2="235.95" />
        <line class="s1-2-cls-8" x1="0.84" y1="201.96" x2="21.67" y2="201.96" />
        <line class="s1-2-cls-8" x1="0.84" y1="167.97" x2="21.67" y2="167.97" />
        <line class="s1-2-cls-8" x1="0.84" y1="133.98" x2="21.67" y2="133.98" />
        <line class="s1-2-cls-8" x1="0.84" y1="99.98" x2="21.67" y2="99.98" />
        <line class="s1-2-cls-8" x1="0.84" y1="65.99" x2="21.67" y2="65.99" />
        <line class="s1-2-cls-8" x1="0.84" y1="32" x2="21.67" y2="32" />
        <path class="s1-2-cls-2 path path--2"
            d="M663.98 78.83 662.9 78.98 661.82 80.65 660.74 81.46 659.67 80.39 658.59 80.53 657.51 83.86 656.43 85.07 655.36 86.6 654.28 87.4 653.2 83.7 652.13 79.56 651.05 81.03 649.97 80.34 648.89 78.78 647.82 85.66 646.74 87.59 645.66 88.5 644.58 89.6 643.51 88.48 642.43 90.44 641.35 92.5 640.27 93.65 639.2 95.05 638.12 93.88 637.04 94.65 635.97 96.31 634.89 97.58 633.81 96.38 632.73 95.44 631.66 95.72 630.58 94.85 629.5 94.8 628.42 95.32 627.35 95.03 626.27 94.13 625.19 93.34 624.12 93.79 623.04 94.86 621.96 94.56 620.88 94.81 619.81 94.8 618.73 95.95 617.65 97.73 616.57 97.42 615.5 101.21 614.42 103.44 613.34 104.65 612.26 102.41 611.19 101.79 610.11 99.35 609.03 98.44 607.96 96.5 606.88 95.62 605.8 97.01 604.72 99.44 603.65 106.79 602.57 106.2 601.49 103.23 600.41 104.03 599.34 103.31 598.26 104.85 597.18 105.36 596.11 107 595.03 107.69 593.95 107.55 592.87 107.45 591.8 107.08 590.72 107.12 589.64 106.79 588.56 106.91 587.49 107.59 586.41 108.36 585.33 108.71 584.25 108.67 583.18 109.85 582.1 108.76 581.02 107.03 579.95 105.92 578.87 106.06 577.79 107.58 576.71 109.56 575.64 110.52 574.56 111.31 573.48 110.78 572.4 112.25 571.33 111.48 570.25 110.85 569.17 111.68 568.1 112.93 567.02 112.98 565.94 115.12 564.86 112.45 563.78 112.33 562.71 111.37 561.63 110.08 560.55 113.28 559.48 113.61 558.4 113.68 557.32 113.73 556.24 113.68 555.17 114.19 554.09 116.89 553.01 117.97 551.93 116.83 550.86 118.32 549.78 121.2 548.7 123.38 547.63 123.1 546.55 126.48 545.47 126.48 544.39 128.78 543.32 131.06 542.24 129.91 541.16 130.32 540.08 127.36 539.01 126 537.93 125.05 536.85 125.61 535.77 125.87 534.7 126.56 533.62 127.45 532.54 127.75 531.47 128.45 530.39 127.42 529.31 126.68 528.23 126.38 527.16 127.01 526.08 126.68 525 126.78 523.92 128.57 522.85 128.48 521.77 130.29 520.69 129.87 519.62 130.08 518.54 129.53 517.46 129.26 516.38 131.94 515.31 132.03 514.23 131.27 513.15 130.65 512.07 130.05 511 127.46 509.92 126.41 508.84 126.52 507.76 126.7 506.69 127 505.61 128.03 504.53 128.26 503.46 127.91 502.38 127.85 501.3 128.71 500.22 129.14 499.15 130.33 498.07 129.96 496.99 130.46 495.92 130.33 494.84 129.58 493.76 130.74 492.68 130.19 491.61 130.56 490.53 131.05 489.45 132.55 488.37 131.92 487.3 130.57 486.22 130.37 485.14 130.27 484.06 131.37 482.99 130.8 481.91 130.61 480.83 131.41 479.75 134.6 478.68 135.81 477.6 135.66 476.52 136.96 475.45 137.99 474.37 141.18 473.29 143.58 472.21 140.26 471.14 139.24 470.06 137.75 468.98 137.21 467.9 137.71 466.83 137.42 465.75 138.32 464.67 138 463.6 138.8 462.52 138.31 461.44 139.11 460.36 139.04 459.29 141.22 458.21 141.69 457.13 142.73 456.05 142.89 454.98 141.82 453.9 141.58 452.82 140.49 451.75 142.59 450.67 142.37 449.59 144.2 448.51 143 447.44 143.39 446.36 143.15 445.28 142.62 444.2 142.23 443.13 140.75 442.05 142.09 440.97 142.41 439.89 141.8 438.82 141.05 437.74 140.25 436.66 142.52 435.58 141.39 434.51 142.23 433.43 136.6 432.35 135.9 431.28 134.5 430.2 136.64 429.12 139.34 428.04 139.62 426.97 142.79 425.89 144.35 424.81 145.09 423.74 142.75 422.66 143.47 421.58 145.91 420.5 149.39 419.43 150.04 418.35 149.57 417.27 149.46 416.19 150.32 415.12 150.85 414.04 153.68 412.96 154.21 411.88 153.18 410.81 150.82 409.73 149.43 408.65 149.97 407.57 152.06 406.5 151.59 405.42 151.32 404.34 152.02 403.27 150.51 402.19 148.77 401.11 147.59 400.03 149.94 398.96 150.97 397.88 153.27 396.8 152.89 395.72 153.7 394.65 153.71 393.57 150.93 392.49 149.53 391.42 153.21 390.34 152.16 389.26 149.21 388.18 151.36 387.11 150.19 386.03 150.26 384.95 152.81 383.87 154.75 382.8 156.96 381.72 162.08 380.64 160.44 379.56 159.75 378.49 156.48 377.41 154.65 376.33 152.96 375.25 153.15 374.18 153.38 373.1 159.42 372.02 165.79 370.95 163.61 369.87 164.4 368.79 162.47 367.71 158.43 366.64 160.23 365.56 154.23 364.48 153.86 363.4 145.72 362.33 143.8 361.25 145.45 360.17 138.83 359.1 136.66 358.02 135.43 356.94 136.12 355.86 135.07 354.79 136.05 353.71 134.92 352.63 132.68 351.55 132.74 350.48 130.4 349.4 127.33 348.32 126.85 347.25 127.71 346.17 126.96 345.09 125.19 344.01 125.58 342.94 124.89 341.86 124.11 340.78 125.59 339.7 126.27 338.63 125.54 337.55 123.96 336.47 125.04 335.39 125.58 334.32 126.64 333.24 126.24 332.16 125.85 331.08 124.58 330.01 124.5 328.93 124.77 327.85 123.02 326.78 122.29 325.7 121.85 324.62 121.31 323.54 121.27 322.47 121.88 321.39 122.15 320.31 122.19 319.24 121.42 318.16 121.69 317.08 121.64 316 122.03 314.93 122.91 313.85 121.92 312.77 122.62 311.69 121.39 310.62 120 309.54 121.11 308.46 121.02 307.38 121.21 306.31 121.01 305.23 121.48 304.15 121.56 303.07 121.15 302 120.8 300.92 120.59 299.84 119.99 298.77 120.02 297.69 119.79 296.61 119.99 295.53 119.95 294.46 121.56 293.38 121.91 292.3 122.68 291.23 122.11 290.15 121.84 289.07 121.83 287.99 121.65 286.92 122 285.84 121.86 284.76 121.92 283.68 120.77 282.61 120.64 281.53 120.83 280.45 120.44 279.37 120.86 278.3 121.3 277.22 121.52 276.14 120.44 275.06 120.04 273.99 119.07 272.91 119.5 271.83 118.62 270.76 117.71 269.68 117.66 268.6 117.69 267.52 118.33 266.45 119.38 265.37 118.94 264.29 119.2 263.21 119.91 262.14 121.12 261.06 120.83 259.98 121.03 258.9 122.25 257.83 122.64 256.75 123.06 255.67 123.47 254.6 124.07 253.52 124.14 252.44 124.31 251.36 124.72 250.29 124.6 249.21 126.03 248.13 127.92 247.06 128 245.98 130.75 244.9 131.32 243.82 131.91 242.75 132.05 241.67 131.71 240.59 131.55 239.51 130.67 238.44 128.96 237.36 128.21 236.28 127.64 235.21 127.43 234.13 128.01 233.05 126.67 231.97 126.61 230.9 126.31 229.82 127.34 228.74 127.07 227.66 126.78 226.59 126.79 225.51 125.83 224.43 126.5 223.35 126.65 222.28 127.83 221.2 128.2 220.12 129.45 219.04 129.84 217.97 131.17 216.89 131.63 215.81 131.87 214.74 131.81 213.66 132.55 212.58 132.95 211.5 132.79 210.43 133.59 209.35 133.63 208.27 132.88 207.19 133 206.12 133.51 205.04 133.42 203.96 134.25 202.88 134.85 201.81 133.71 200.73 132.4 199.65 131.76 198.58 131.31 197.5 130.97 196.42 131.73 195.34 132.23 194.27 131.5 193.19 130.26 192.11 128.96 191.03 129.42 189.96 128.02 188.88 127.16 187.8 126.62 186.72 126.15 185.65 124.45 184.57 125.57 183.49 127.14 182.42 127.27 181.34 127.61 180.26 127.04 179.18 126.47 178.11 126.72 177.03 127.08 175.95 128.03 174.88 127.72 173.8 127.55 172.72 126.9 171.64 125.76 170.57 125.38 169.49 125.86 168.41 126.18 167.33 126.43 166.26 127.32 165.18 127.71 164.1 128.65 163.02 128.79 161.95 128.23 160.87 127.77 159.79 127.26 158.72 128.22 157.64 129.17 156.56 130.03 155.48 130 154.41 129.29 153.33 129 152.25 128.32 151.17 129.35 150.1 130.39 149.02 130.85 147.94 130.73 146.87 131.12 145.79 133.32 144.71 133.84 143.63 131.81 142.56 131.66 141.48 130.57 140.4 131.18 139.32 131.74 138.25 132.74 137.17 131.85 136.09 130.29 135.01 130.15 133.94 130.05 132.86 129.07 131.78 128.17 130.71 129.27 129.63 129.52 128.55 128.43 127.47 127.77 126.4 125.73 125.32 125.45 124.24 124.27 123.16 123.38 122.09 124.03 121.01 124.24 119.93 123.91 118.86 123.73 117.78 123.92 116.7 124.83 115.62 124.14 114.55 122.64 113.47 122.17 112.39 121.91 111.31 121.88 110.24 122.73 109.16 124.88 108.08 125.42 107 125.45 105.93 126.64 104.85 126.61 103.77 126.66 102.69 126.5 101.62 127.08 100.54 126.87 99.46 127.8 98.39 128.83 97.31 129.71 96.23 131.91 95.15 132.22 94.08 131.55 93 130.9 91.92 131.4 90.84 130.72 89.77 129.64 88.69 129.61 87.61 128.61 86.53 129.52 85.46 129.83 84.38 130.87 83.3 129.71 82.23 129.73 81.15 129.78 80.07 130.82 78.99 129.95 77.92 128.56 76.84 128.04 75.76 127.66 74.69 126.61 73.61 127.07 72.53 126.01 71.45 125.85 70.38 126.32 69.3 127.45 68.22 127.8 67.14 127.17 66.07 128.7 64.99 129.37 63.91 129.5 62.83 130.13 61.76 129.83 60.68 129.41 59.6 131.57 58.52 131.1 57.45 129.74 56.37 126.29 55.29 125.53 54.22 126.16 53.14 125.82 52.06 126.14 50.98 126.92 49.91 127.19 48.83 127 47.75 126 46.67 127.48 45.6 128.42 44.52 127.65 43.44 126.66 42.37 126.63 41.29 127.64 40.21 127.35 39.13 126.67 38.06 126.83 36.98 127.35 35.9 128.11 34.82 128.02 33.75 130.04 32.67 131.16 31.59 133.5 30.52 134.75 29.44 134.47 28.36 133.82"
        />
        <path
            class="s1-2-cls-3 path"
            d="M663.98 94.88 662.9 94.91 661.82 99.85 660.74 99.85 659.67 99.45 658.59 105.13 657.51 109.88 656.43 107.94 655.36 104.58 654.28 106.67 653.2 98.96 652.13 96.59 651.05 99.17 649.97 99.85 648.89 90.73 647.82 95.18 646.74 89.8 645.66 91.58 644.58 90.12 643.51 97.76 642.43 97.1 641.35 117.33 640.27 109.3 639.2 105.03 638.12 98.16 637.04 91.8 635.97 84.26 634.89 93.6 633.81 91.25 632.73 79.44 631.66 86.79 630.58 81.97 629.5 68.24 628.42 67.56 627.35 64.1 626.27 63.61 625.19 59.94 624.12 59.94 623.04 60.42 621.96 61.3 620.88 53.88 619.81 53.45 618.73 57.7 617.65 57.05 616.57 56.12 615.5 53.75 614.42 59.68 613.34 67.57 612.26 61.19 611.19 55.9 610.11 51.93 609.03 52.69 607.96 58.53 606.88 60.13 605.8 60.41 604.72 61.3 603.65 65.04 602.57 65.04 601.49 60.02 600.41 57.16 599.34 57.85 598.26 64.95 597.18 55.09 596.11 66.61 595.03 78.79 593.95 81.29 592.87 82.81 591.8 89.59 590.72 89.59 589.64 91.78 588.56 97.54 587.49 98.28 586.41 98.26 585.33 98.26 584.25 99.89 583.18 100.6 582.1 97.93 581.02 92.55 579.95 99.45 578.87 105.08 577.79 103.41 576.71 103.49 575.64 109.65 574.56 105.7 573.48 109.59 572.4 101.03 571.33 103.21 570.25 111.19 569.17 111.42 568.1 114.55 567.02 111.97 565.94 113.43 564.86 108.34 563.78 109.38 562.71 109.38 561.63 111.48 560.55 116.76 559.48 125.29 558.4 125.1 557.32 127.87 556.24 135.28 555.17 140.63 554.09 141.23 553.01 140.12 551.93 142.04 550.86 142.56 549.78 139.24 548.7 138.32 547.63 136.78 546.55 142.46 545.47 142.93 544.39 147.29 543.32 151.05 542.24 146.83 541.16 149.69 540.08 146.77 539.01 148.22 537.93 148.92 536.85 147.55 535.77 148.35 534.7 148.26 533.62 147.87 532.54 146.25 531.47 144.29 530.39 142.65 529.31 146.42 528.23 147.05 527.16 149.03 526.08 150.56 525 150.71 523.92 152.96 522.85 150.75 521.77 152.63 520.69 147.15 519.62 150.53 518.54 153.03 517.46 153.32 516.38 155.91 515.31 159.25 514.23 159.93 513.15 152.01 512.07 148.31 511 148.18 509.92 151.23 508.84 149.05 507.76 148.03 506.69 153.44 505.61 161.62 504.53 161.91 503.46 162.36 502.38 167.68 501.3 154.39 500.22 154.39 499.15 155.91 498.07 148.66 496.99 144.09 495.92 141.55 494.84 150.61 493.76 149.64 492.68 151.76 491.61 157.27 490.53 158.46 489.45 157.86 488.37 159.42 487.3 163.04 486.22 162.51 485.14 164.12 484.06 170.21 482.99 171.02 481.91 173.21 480.83 179.11 479.75 177.1 478.68 176.41 477.6 174.76 476.52 175.25 475.45 174.99 474.37 175.5 473.29 178.21 472.21 178.69 471.14 177.94 470.06 178.88 468.98 177.24 467.9 181.32 466.83 177.66 465.75 175.07 464.67 175.43 463.6 173.18 462.52 177.86 461.44 177.07 460.36 174.8 459.29 175.56 458.21 176.01 457.13 174.86 456.05 179.77 454.98 181.23 453.9 181.31 452.82 181.74 451.75 187.37 450.67 187.37 449.59 189.98 448.51 191.27 447.44 193.84 446.36 195.8 445.28 194.49 444.2 195.13 443.13 193.77 442.05 194.45 440.97 194.6 439.89 194.48 438.82 195.34 437.74 195.71 436.66 195.21 435.58 197.48 434.51 196.47 433.43 194.59 432.35 196.26 431.28 196.47 430.2 200.88 429.12 201.81 428.04 203.2 426.97 203.39 425.89 203.06 424.81 205.27 423.74 206.22 422.66 205.72 421.58 205.75 420.5 206.08 419.43 206.08 418.35 205.65 417.27 205.88 416.19 206.12 415.12 206.04 414.04 206.52 412.96 206.41 411.88 206.69 410.81 206.06 409.73 206.03 408.65 205.7 407.57 206.97 406.5 206.79 405.42 207.39 404.34 207.61 403.27 209.56 402.19 206.96 401.11 206.56 400.03 207.71 398.96 206.84 397.88 209.14 396.8 209.76 395.72 208.89 394.65 210.36 393.57 208.44 392.49 208.2 391.42 208.42 390.34 208.93 389.26 209.67 388.18 211.67 387.11 214.18 386.03 214.18 384.95 214.95 383.87 215.01 382.8 216.05 381.72 217.22 380.64 217.94 379.56 217.07 378.49 215.51 377.41 216.41 376.33 216.1 375.25 215.61 374.18 215.42 373.1 216.66 372.02 219.05 370.95 219.04 369.87 219.09 368.79 221.11 367.71 218.74 366.64 218.25 365.56 214.87 364.48 214.44 363.4 211.91 362.33 211.41 361.25 212.69 360.17 209.3 359.1 208.5 358.02 207.68 356.94 207.74 355.86 207.86 354.79 210.32 353.71 209.73 352.63 206.45 351.55 205.84 350.48 205.13 349.4 202.84 348.32 202.82 347.25 202.65 346.17 204.71 345.09 206.73 344.01 206.73 342.94 206.82 341.86 208.01 340.78 207.83 339.7 207.86 338.63 208.74 337.55 208.5 336.47 208.88 335.39 204.41 334.32 207.97 333.24 211.69 332.16 211.92 331.08 213.7 330.01 214.12 328.93 214.44 327.85 214.06 326.78 213.77 325.7 213.89 324.62 214.64 323.54 215.74 322.47 215.74 321.39 215.93 320.31 215.82 319.24 215.33 318.16 215.84 317.08 217.64 316 217.52 314.93 217.22 313.85 217.93 312.77 218.38 311.69 218.62 310.62 219.02 309.54 219.37 308.46 219.37 307.38 219.54 306.31 219.39 305.23 219.33 304.15 219.49 303.07 219.49 302 219.71 300.92 220.07 299.84 220.21 298.77 220.54 297.69 220.95 296.61 220.95 295.53 221.72 294.46 221.7 293.38 221.9 292.3 222.06 291.23 222.35 290.15 222.45 289.07 222.59 287.99 222.48 286.92 222.42 285.84 222.47 284.76 222.64 283.68 222.52 282.61 222.52 281.53 222.59 280.45 222.39 279.37 222.57 278.3 221.91 277.22 222.04 276.14 221.78 275.06 222.12 273.99 222.03 272.91 222.11 271.83 222.2 270.76 222.03 269.68 222.19 268.6 222.35 267.52 222.39 266.45 222.73 265.37 222.97 264.29 223.09 263.21 223.26 262.14 223.28 261.06 223.22 259.98 223.02 258.9 222.69 257.83 222.7 256.75 223.58 255.67 224.95 254.6 224.92 253.52 224.97 252.44 224.88 251.36 224.7 250.29 224.77 249.21 224.8 248.13 224.77 247.06 225.07 245.98 225.17 244.9 225.2 243.82 225.31 242.75 225.4 241.67 225.57 240.59 225.53 239.51 225.22 238.44 225.21 237.36 225.28 236.28 225.22 235.21 225.16 234.13 225.55 233.05 225.63 231.97 225.01 230.9 224.91 229.82 224.71 228.74 224.8 227.66 224.75 226.59 224.75 225.51 224.68 224.43 224.69 223.35 224.62 222.28 224.97 221.2 225.09 220.12 225.31 219.04 225.28 217.97 225.65 216.89 225.53 215.81 225.43 214.74 225.43 213.66 225.59 212.58 225.78 211.5 225.82 210.43 225.8 209.35 225.91 208.27 225.46 207.19 225.39 206.12 225.22 205.04 225.19 203.96 225.47 202.88 225.68 201.81 225.53 200.73 225.03 199.65 225.18 198.58 224.97 197.5 224.85 196.42 225.03 195.34 225.06 194.27 225.1 193.19 224.69 192.11 224.62 191.03 224.27 189.96 224.23 188.88 224.41 187.8 224.65 186.72 224.68 185.65 223.56 184.57 223.76 183.49 224.01 182.42 223.98 181.34 224.13 180.26 224.02 179.18 224.13 178.11 224.05 177.03 224.36 175.95 224.61 174.88 224.51 173.8 224.75 172.72 224.92 171.64 224.82 170.57 224.75 169.49 224.75 168.41 225.13 167.33 225.16 166.26 225.35 165.18 225.39 164.1 225.53 163.02 225.51 161.95 225.34 160.87 225.39 159.79 225.44 158.72 225.32 157.64 225.43 156.56 225.46 155.48 225.77 154.41 225.72 153.33 225.82 152.25 225.51 151.17 225.68 150.1 225.97 149.02 225.96 147.94 226.27 146.87 226.34 145.79 226.78 144.71 226.61 143.63 226.45 142.56 226.27 141.48 226.2 140.4 226.28 139.32 226.28 138.25 226.19 137.17 226.16 136.09 225.7 135.01 225.74 133.94 225.49 132.86 224.83 131.78 224.71 130.71 224.76 129.63 224.97 128.55 224.44 127.47 224.41 126.4 224.25 125.32 224.12 124.24 223.87 123.16 223.6 122.09 224.12 121.01 224.43 119.93 224.26 118.86 224.21 117.78 224.45 116.7 224.07 115.62 223.6 114.55 223.5 113.47 223.5 112.39 223.1 111.31 223.1 110.24 223.03 109.16 223.37 108.08 223.66 107 223.56 105.93 223.51 104.85 223.23 103.77 223.38 102.69 223.39 101.62 223.26 100.54 223.47 99.46 222.82 98.39 222.99 97.31 222.95 96.23 223.31 95.15 223.4 94.08 223.43 93 223.56 91.92 223.64 90.84 223.44 89.77 223.19 88.69 223.19 87.61 223.34 86.53 223.33 85.46 223.19 84.38 222.78 83.3 222.84 82.23 223.02 81.15 222.76 80.07 222.93 78.99 223 77.92 222.8 76.84 222.41 75.76 222.25 74.69 221.89 73.61 221.21 72.53 221.28 71.45 221.68 70.38 221.83 69.3 222.31 68.22 222.52 67.14 222.17 66.07 222.21 64.99 222.16 63.91 222.16 62.83 222.14 61.76 222.14 60.68 222.13 59.6 222.15 58.52 222.41 57.45 222.28 56.37 221.92 55.29 221.88 54.22 222.15 53.14 222.17 52.06 222.41 50.98 222.42 49.91 222.8 48.83 222.85 47.75 222.8 46.67 223.03 45.6 223.16 44.52 222.9 43.44 222.8 42.37 222.8 41.29 221.45 40.21 221.39 39.13 221.43 38.06 221.75 36.98 221.34 35.9 221.42 34.82 221.52 33.75 221.53 32.67 221.64 31.59 222.22 30.52 222.93 29.44 222.52 28.36 221.74"
        />
        <line class="s1-2-cls-8" x1="27.82" y1="248.08" x2="27.82" y2="236.16" />
        <line class="s1-2-cls-8" x1="78.88" y1="235.91" x2="78.88" y2="242.43" />
        <line class="s1-2-cls-8" x1="129.94" y1="235.91" x2="129.94" y2="242.43" />
        <line class="s1-2-cls-8" x1="181" y1="235.91" x2="181" y2="242.43" />
        <line class="s1-2-cls-8" x1="232.06" y1="235.91" x2="232.06" y2="242.43" />
        <line class="s1-2-cls-8" x1="283.11" y1="248.08" x2="283.11" y2="236.16" />
        <line class="s1-2-cls-8" x1="334.17" y1="235.91" x2="334.17" y2="242.43" />
        <line class="s1-2-cls-8" x1="385.23" y1="235.91" x2="385.23" y2="242.43" />
        <line class="s1-2-cls-8" x1="436.29" y1="235.91" x2="436.29" y2="242.43" />
        <line class="s1-2-cls-8" x1="487.35" y1="235.91" x2="487.35" y2="242.43" />
        <line class="s1-2-cls-8" x1="538.41" y1="235.91" x2="538.41" y2="242.43" />
        <line class="s1-2-cls-8" x1="589.47" y1="248.08" x2="589.47" y2="236.16" />
        <line class="s1-2-cls-8" x1="640.53" y1="235.91" x2="640.53" y2="242.43" />
        <line class="s1-2-cls-8" x1="53.35" y1="235.91" x2="53.35" y2="242.43" />
        <line class="s1-2-cls-8" x1="104.41" y1="235.91" x2="104.41" y2="242.43" />
        <line class="s1-2-cls-8" x1="155.47" y1="235.91" x2="155.47" y2="242.43" />
        <line class="s1-2-cls-8" x1="206.53" y1="235.91" x2="206.53" y2="242.43" />
        <line class="s1-2-cls-8" x1="257.59" y1="235.91" x2="257.59" y2="242.43" />
        <line class="s1-2-cls-8" x1="308.64" y1="235.91" x2="308.64" y2="242.43" />
        <line class="s1-2-cls-8" x1="359.7" y1="235.91" x2="359.7" y2="242.43" />
        <line class="s1-2-cls-8" x1="410.76" y1="235.91" x2="410.76" y2="242.43" />
        <line class="s1-2-cls-8" x1="461.82" y1="235.91" x2="461.82" y2="242.43" />
        <line class="s1-2-cls-8" x1="512.88" y1="235.91" x2="512.88" y2="242.43" />
        <line class="s1-2-cls-8" x1="563.94" y1="235.91" x2="563.94" y2="242.43" />
        <line class="s1-2-cls-8" x1="615" y1="235.91" x2="615" y2="242.43" />
    </g>
    <g id="Labels_02" data-name="Labels 02">
        <line class="s1-2-cls-1 line-2020" x1="562.75" y1="39.93" x2="562.75" y2="235.91" />
        <line class="s1-2-cls-2" x1="36.24" y1="24.9" x2="63.06" y2="24.9" />
        <line class="s1-2-cls-3" x1="36.24" y1="50.1" x2="63.06" y2="50.1" />
        <text class="s1-2-cls-4" transform="translate(69.66 29.1)">{{s1-graph2-legend1}}</text>
        <text class="s1-2-cls-4" transform="translate(69.66 54.3)">{{s1-graph2-legend2}}</text>
        <g class="es-s1-graph2-copy"> 
            <text class="s1-2-cls-5 copy-2020" transform="translate(359.49 49.84)">
                {{s1-graph2-line1}}
                <tspan class="s1-2-cls-6">
                    <tspan x="0" y="14.4">{{s1-graph2-line2}}</tspan>
                    <tspan x="0" y="28.8">{{s1-graph2-line3}}</tspan>
                    <tspan x="0" y="43.2">{{s1-graph2-line4}}</tspan>
                    <tspan x="0" y="57.6">{{s1-graph2-line5}}</tspan>
                </tspan>
            </text>
        </g>
    </g>
</svg>
