<svg width="965px" height="317px" viewBox="0 0 965 317" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-1.000000, 0.000000)">
            <g transform="translate(680.000000, 175.000000)" stroke="#00282D" stroke-width="0.7">
                <polyline points="66.6 0 66.6 55 164.6 55"></polyline>
                <polyline points="40.41 0 40.41 38 164.6 38"></polyline>
                <polyline points="90.6 0 90.6 70 164.6 70"></polyline>
                <polyline points="110.41 0 110.41 86 164.6 86"></polyline>
                <polyline points="126.41 0 126.41 103 164.6 103"></polyline>
                <polyline points="142.6 0 142.6 119 164.6 119"></polyline>
                <polyline points="156.6 0 156.6 134 164.6 134"></polyline>
                <path d="M1.41,0 L1.41,11"></path>
                <path d="M1.41,0 L1.41,55" class="es-uk-line" style="opacity: 0;"></path>
                <path d="M173.6,0 L173.6,11"></path>
            </g>
            <g transform="translate(57.000000, 0.000000)">
                <rect fill="#00282D" x="0.6" y="0.5" width="317" height="80"></rect>
                <rect fill="#1B4C38" x="317.6" y="0.5" width="29" height="80"></rect>
                <rect fill="#D9D538" x="346.6" y="0.5" width="85" height="80"></rect>
                <rect fill="#33323C" x="431.6" y="0.5" width="18" height="80"></rect>
                <rect fill="#09181D" x="449.6" y="0.5" width="22" height="80"></rect>
                <rect fill="#1C4B5B" x="471.6" y="0.5" width="22" height="80"></rect>
                <rect fill="#979797" x="493.6" y="0.5" width="11" height="80"></rect>
                <rect fill="#1B4C38" x="504.6" y="0.5" width="14" height="80"></rect>
                <rect fill="#D9D538" x="518.6" y="0.5" width="7" height="80"></rect>
                <rect fill="#09181D" x="525.6" y="0.5" width="11" height="80"></rect>
                <rect fill="#239466" x="536.6" y="0.5" width="4" height="80"></rect>
                <rect fill="#7D7A16" x="540.6" y="0.5" width="14" height="80"></rect>
                <rect fill="#C7D3AC" x="554.6" y="0.5" width="48" height="80"></rect>
                <rect fill="#00282D" x="0.6" y="95" width="354" height="80"></rect>
                <rect fill="#1B4C38" x="354.6" y="95" width="107" height="80"></rect>
                <rect fill="#D9D538" x="461.6" y="95" width="88" height="80"></rect>
                <rect fill="#33323C" x="549.6" y="95" width="52" height="80"></rect>
                <rect fill="#09181D" x="601.6" y="95" width="47" height="80"></rect>
                <rect fill="#1C4B5B" x="648.6" y="95" width="29" height="80"></rect>
                <rect fill="#979797" x="677.6" y="95" width="26" height="80"></rect>
                <rect fill="#1B4C38" x="703.6" y="95" width="22" height="80"></rect>
                <rect fill="#D9D538" x="725.6" y="95" width="15" height="80"></rect>
                <rect fill="#09181D" x="740.6" y="95" width="18" height="80"></rect>
                <rect fill="#239466" x="758.6" y="95" width="15" height="80"></rect>
                <rect fill="#7D7A16" x="773.6" y="95" width="14" height="80"></rect>
                <rect fill="#C7D3AC" x="787.6" y="95" width="74" height="80"></rect>
            </g>
            <g id="s1_Text_01" transform="translate(0.000000, 26.000000)">
                <text id="s1_2019" fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="12.88" y="14.5">2019</tspan>
                </text>
                <text id="s1_2020" fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="11.6" y="115">2020</tspan>
                </text>
                <path d="M26.91,40.34 L26.91,18.68" stroke="#00282D" stroke-width="0.68"></path>
                <path d="M26.91,78.35 L26.91,100.01" stroke="#00282D" stroke-width="0.68"></path>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="57.6" y="176">{{s1-graph1-label1}},</tspan>
                    <tspan x="57.6" y="193">1337{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="411.6" y="176">{{s1-graph1-label2}},</tspan>
                    <tspan x="411.6" y="193">398{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="520.6" y="176">{{s1-graph1-label3}},</tspan>
                    <tspan x="520.6" y="193">328{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="605.6" y="176">{{s1-graph1-label4}},</tspan>
                    <tspan x="605.6" y="193">194{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz es-uk-lower" font-size="14" font-weight="normal">
                    <tspan x="673.6" y="176">{{s1-graph1-label5}},</tspan>
                    <tspan x="673.6" y="193">181{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="849.6" y="176">{{s1-graph1-label10}}, 298{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="849.6" y="192">{{s1-graph1-label6}}, 108{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="849.6" y="208">{{s1-graph1-label7}}, 96{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="849.6" y="224">{{s1-graph1-label9}}, 90{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="849.6" y="240">{{s1-graph1-label8}}, 61{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="849.6" y="256">{{s1-graph1-label11}}, 52{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="849.6" y="272">{{s1-graph1-label12}}, 48{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="849.6" y="288">{{s1-graph1-label13}}, 47{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz es-43-lower" font-size="13" font-weight="normal">
                    <tspan x="7" y="58">+43%</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="13" font-weight="normal">
                    <tspan x="2" y="71.8">{{s1-graph1-label15}}</tspan>
                </text>
            </g>
        </g>
    </g>
</svg>