<svg viewBox="0 0 303 388" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(0.000000, -3.000000)">
            <g id="s1_1m_Bars_01" transform="translate(0.000000, 3.000000)">
                <rect fill="#00282D" x="0.94" y="219.05" width="80" height="127.35"></rect>
                <rect fill="#1B4C38" x="0.94" y="207.4" width="80" height="11.65"></rect>
                <rect fill="#D9D538" x="0.94" y="173.25" width="80" height="34.15"></rect>
                <rect fill="#33323C" x="0.94" y="166.02" width="80" height="7.23"></rect>
                <rect fill="#09181D" x="0.94" y="157.18" width="80" height="8.84"></rect>
                <rect fill="#1C4B5B" x="0.94" y="148.34" width="80" height="8.84"></rect>
                <rect fill="#979797" x="0.94" y="143.92" width="80" height="4.42"></rect>
                <rect fill="#1B4C38" x="0.94" y="138.3" width="80" height="5.62"></rect>
                <rect fill="#D9D538" x="0.94" y="135.49" width="80" height="2.81"></rect>
                <rect fill="#09181D" x="0.94" y="131.07" width="80" height="4.42"></rect>
                <rect fill="#239466" x="0.94" y="129.46" width="80" height="1.61"></rect>
                <rect fill="#7D7A16" x="0.94" y="123.84" width="80" height="5.62"></rect>
                <rect fill="#C7D3AC" x="0.94" y="104.55" width="80" height="19.28"></rect>
                <rect fill="#00282D" x="93.44" y="204.18" width="80" height="142.22"></rect>
                <rect fill="#1B4C38" x="93.44" y="161.2" width="80" height="42.99"></rect>
                <rect fill="#D9D538" x="93.44" y="125.84" width="80" height="35.35"></rect>
                <rect fill="#33323C" x="93.44" y="104.95" width="80" height="20.89"></rect>
                <rect fill="#09181D" x="93.44" y="86.07" width="80" height="18.88"></rect>
                <rect fill="#1C4B5B" x="93.44" y="74.42" width="80" height="11.65"></rect>
                <rect fill="#979797" x="93.44" y="63.98" width="80" height="10.45"></rect>
                <rect fill="#1B4C38" x="93.44" y="55.14" width="80" height="8.84"></rect>
                <rect fill="#D9D538" x="93.44" y="49.11" width="80" height="6.03"></rect>
                <rect fill="#09181D" x="93.44" y="41.88" width="80" height="7.23"></rect>
                <rect fill="#239466" x="93.44" y="35.85" width="80" height="6.03"></rect>
                <rect fill="#7D7A16" x="93.44" y="30.23" width="80" height="5.62"></rect>
                <rect fill="#C7D3AC" x="93.44" y="0.5" width="80" height="29.73"></rect>
            </g>
            <g id="s1_1m_Text_01" transform="translate(25.000000, 0.000000)">
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="0.33" y="371.65">2019</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="91.54" y="371.65">2020</tspan>
                </text>
                <polyline stroke="#00282D" stroke-width="0.68" points="37.72 390.23 15.06 390.23 15.06 374.43"></polyline>
                <polyline stroke="#00282D" stroke-width="0.68" points="83.74 390.23 104.4 390.23 104.4 374.43"></polyline>
                <rect fill="#00282D" x="154.98" y="327.5" width="10" height="10"></rect>
                <rect fill="#1B4B38" x="154.98" y="310.88" width="10" height="10"></rect>
                <rect fill="#D9D538" x="154.98" y="294.27" width="10" height="10"></rect>
                <rect fill="#33323B" x="154.98" y="277.65" width="10" height="10"></rect>
                <rect fill="#09181D" x="155" y="261.03" width="10" height="10"></rect>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="169.69" y="338.15">{{s1-graph1-label1}}, 1337{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="169.69" y="321.44">{{s1-graph1-label2}}, 398{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="169.69" y="304.72">{{s1-graph1-label3}}, 328{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="169.69" y="288">{{s1-graph1-label4}}, 194{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="169.69" y="271.28">{{s1-graph1-label5}}, 181{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="169.69" y="157.28">{{s1-graph1-label6}}, 108{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="169.69" y="140.62">{{s1-graph1-label7}}, 96{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="169.69" y="107.28">{{s1-graph1-label8}}, 61{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="169.69" y="123.95">{{s1-graph1-label9}}, 90{{s1-graph1-label-k}}</tspan>
                </text>
                <polyline stroke="#00282D" stroke-width="0.7" points="148.44 55 163 55 163 104 167.94 104"></polyline>
                <polyline stroke="#00282D" stroke-width="0.7" points="148.44 63 160 63 160 119 167.94 119"></polyline>
                <polyline stroke="#00282D" stroke-width="0.7" points="148.44 72 156 72 156 136 167.94 136"></polyline>
                <polyline stroke="#00282D" stroke-width="0.7" points="148.44 84 152 84 152 152 167.94 152"></polyline>
                <path d="M148.44,4.5 L168.5,4.5" stroke="#00282D" stroke-width="0.7"></path>
                <polyline stroke="#00282D" stroke-width="0.7" points="148.44 36 165 36 165 26.97 167.94 26.97"></polyline>
                <path d="M148.44,42 L168.5,42" stroke="#00282D" stroke-width="0.7"></path>
                <polyline stroke="#00282D" stroke-width="0.7" points="148.44 48 165 48 165 59.56 167.94 59.56"></polyline>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="169.69" y="14.75">{{s1-graph1-label10}}, 298{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="169.69" y="64.75">{{s1-graph1-label11}}, 52{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="169.69" y="48.08">{{s1-graph1-label12}}, 48{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="14" font-weight="normal">
                    <tspan x="169.69" y="31.42">{{s1-graph1-label13}}, 47{{s1-graph1-label-k}}</tspan>
                </text>
                <text fill="#00282D" class="font-graphic font-graphic-fz" font-size="13" font-weight="normal">
                    <tspan x="44.66" y="388.41">+43%</tspan>
                </text>
            </g>
        </g>
    </g>
</svg>