<svg width="564px" height="316px" viewBox="0 0 564 316" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Bubble-chart">
            <g id="Circles">
                <path class="s5-fade s5-fade--1" d="M241.295847,149.791465 C241.295847,216.481829 187.279573,270.543684 120.648641,270.543684 C54.0162748,270.543684 0,216.481829 0,149.791465 C0,83.1011018 54.0162748,29.0378109 120.648641,29.0378109 C187.279573,29.0378109 241.295847,83.1011018 241.295847,149.791465" fill="#D9D538"></path>
                <path class="s5-fade s5-fade--2" d="M435.773524,90.7154127 C435.773524,140.815776 395.194226,181.428958 345.137432,181.428958 C295.080638,181.428958 254.499905,140.815776 254.499905,90.7154127 C254.499905,40.6136127 295.080638,0.000430909091 345.137432,0.000430909091 C395.194226,0.000430909091 435.773524,40.6136127 435.773524,90.7154127" fill="#D9D538"></path>
                <path class="s5-fade s5-fade--3" d="M366.145212,253.521055 C366.145212,288.026818 338.196357,316 303.720602,316 C269.244846,316 241.295991,288.026818 241.295991,253.521055 C241.295991,219.015291 269.244846,191.042109 303.720602,191.042109 C338.196357,191.042109 366.145212,219.015291 366.145212,253.521055" fill="#C7D3AC"></path>
                <path class="s5-fade s5-fade--4" d="M515.004617,229.489973 C515.004617,263.995736 487.054327,291.968918 452.580006,291.968918 C418.10425,291.968918 390.155395,263.995736 390.155395,229.489973 C390.155395,194.984209 418.10425,167.011027 452.580006,167.011027 C487.054327,167.011027 515.004617,194.984209 515.004617,229.489973" fill="#C7D3AC"></path>
                <path class="s5-fade s5-fade--5" d="M563.023548,90.7154127 C563.023548,119.580576 539.642663,142.981813 510.802602,142.981813 C481.96254,142.981813 458.581655,119.580576 458.581655,90.7154127 C458.581655,61.8488127 481.96254,38.4475764 510.802602,38.4475764 C539.642663,38.4475764 563.023548,61.8488127 563.023548,90.7154127" fill="#C7D3AC"></path>
            </g>
            <text class="s5-font-graphic s5-fade s5-fade--1" fill="#00282D">
                <tspan x="67.1484375" y="149">LG Chem </tspan>
                <tspan x="105.152344" y="178">51</tspan>
            </text>
            <text class="s5-font-graphic s5-fade s5-fade--2" fill="#00282D">
                <tspan x="318.650391" y="89">CATL </tspan>
                <tspan x="334.652344" y="118">38</tspan>
            </text>
            <text class="s5-font-graphic s5-fade s5-fade--3" fill="#00282D">
                <tspan x="280.326172" y="253">BYD </tspan>
                <tspan x="291.652344" y="282">26</tspan>
            </text>
            <text class="s5-font-graphic s5-font-graphic--smaller s5-fade s5-fade--4" fill="#00282D">
                <tspan x="405" y="225">Panasonic</tspan>
                <tspan x="441.152344" y="249" font-size="24">26</tspan>
            </text>
            <text class="s5-font-graphic s5-fade s5-fade--5" fill="#00282D">
                <tspan x="480.986328" y="85">Tesla </tspan>
                <tspan x="495.652344" y="114">22</tspan>
            </text>
        </g>
    </g>
</svg>