<svg width="566px" height="504px" viewBox="0 0 566 504" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-2419.000000, -286.000000)">
            <g transform="translate(2270.000000, 144.000000)">
                <g>
                    <g transform="translate(149.000000, 141.000000)">
                        <g>
                            <g transform="translate(104.000000, 41.000000)">
                                <path d="M221,231 L138,16.8198815 C165.230148,5.3498323 191.631058,0 221,0 L221,231 Z" fill-opacity="0.8" fill="#FFFFFF"></path>
                                <path d="M221,231 L138,16.8198815 C165.230148,5.3498323 191.631058,0 221,0 L221,231 Z" stroke="#00282D" stroke-width="1.595" stroke-linejoin="round"></path>
                                <path d="M221,231.383986 L16.1464584,318 C-29.5634885,199.598746 25.0959803,64.8368125 138.233439,17 L221,231.383986 Z" fill-opacity="0.8" fill="#FFFFFF"></path>
                                <path d="M221,231.383986 L16.1464584,318 C-29.5634885,199.598746 25.0959803,64.8368125 138.233439,17 L221,231.383986 Z" stroke="#00282D" stroke-width="1.595" stroke-linejoin="round"></path>
                                <path d="M221,231 L35.5701401,357 C27.5904681,344.141352 21.4894678,331.879245 16,317.663522 L221,231 Z" fill-opacity="0.8" fill="#FFFFFF"></path>
                                <path d="M221,231 L35.5701401,357 C27.5904681,344.141352 21.4894678,331.879245 16,317.663522 L221,231 Z" stroke="#00282D" stroke-width="1.595" stroke-linejoin="round"></path>
                                <path d="M221.186004,231.838765 L232.742523,1 C354.523932,7.68079434 448.074292,116.447425 441.691907,243.935677 C435.309522,371.425028 331.411996,469.358325 209.629485,462.67753 C136.56108,458.669054 75.8513925,421.975822 36,357.734623 L221.186004,231.838765 Z" fill-opacity="0.8" fill="#FFFFFF"></path>
                                <path d="M221.186004,231.838765 L232.742523,1 C354.523932,7.68079434 448.074292,116.447425 441.691907,243.935677 C435.309522,371.425028 331.411996,469.358325 209.629485,462.67753 C136.56108,458.669054 75.8513925,421.975822 36,357.734623 L221.186004,231.838765 Z" stroke="#00282D" stroke-width="1.595" stroke-linejoin="round"></path>
                                <path d="M221,231 L221,0 C226.065321,0 227.941535,0.0494540784 233,0.316506101 L221,231 Z" fill-opacity="0.8" fill="#FFFFFF"></path>
                                <path d="M221,231 L221,0 C226.065321,0 227.941535,0.0494540784 233,0.316506101 L221,231 Z" stroke="#00282D" stroke-width="1.595" stroke-linejoin="round"></path>
                            </g>
                            <g transform="translate(0.000000, 373.000000)">
                                <text class="s5-font-graphic s5-font-graphic--pie" fill="#FFFFFF">
                                    <tspan x="0" y="19">{{s5-pie-year-2025-value-asia-label1}}</tspan>
                                    <tspan x="0" y="41">{{s5-pie-year-2025-value-asia-label2}}</tspan>
                                    <tspan x="0" y="63">{{s5-pie-year-2025-value-asia-value}}</tspan>
                                </text>
                                <path d="M45.5,13 L136.5,13.5" stroke="#FFFFFF" stroke-width="0.7"></path>
                            </g>
                            <g transform="translate(331.500000, 0.000000)">
                                <text class="s5-font-graphic s5-font-graphic--pie" fill="#FFFFFF">
                                    <tspan x="135.5" y="19">{{s5-pie-year-2025-value-australasia-label}}</tspan>
                                    <tspan x="135.5" y="41">{{s5-pie-year-2025-value-australasia-value}}</tspan>
                                </text>
                                <polyline stroke="#FFFFFF" stroke-width="0.7" points="128 13 0 13.5 0 42"></polyline>
                            </g>
                        </g>
                        <text class="s5-font-graphic s5-font-graphic--pie" fill="#00282D">
                            <tspan x="376" y="365">{{s5-pie-year-2025-value-china-label}}</tspan>
                            <tspan x="376" y="387">{{s5-pie-year-2025-value-china-value}}</tspan>
                        </text>
                        <text class="s5-font-graphic s5-font-graphic--pie" fill="#00282D">
                            <tspan x="170" y="232">{{s5-pie-year-2025-value-europe-label}}</tspan>
                            <tspan x="170" y="254">{{s5-pie-year-2025-value-europe-value}}</tspan>
                        </text>
                        <text class="s5-font-graphic s5-font-graphic--pie pie-us-es" fill="#00282D">
                            <tspan x="274" y="90">{{s5-pie-year-2025-value-us-label}}</tspan>
                            <tspan x="274" y="112">{{s5-pie-year-2025-value-us-value}}</tspan>
                        </text>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>