<svg width="547px" height="534px" viewBox="0 0 547 534" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-171.000000, -255.000000)">
            <g transform="translate(22.000000, 144.000000)">
                <g >
                    <g transform="translate(149.000000, 110.000000)">
                        <g transform="translate(104.000000, 72.000000)">
                            <path d="M222,231 L102,37.2675619 C138.739309,12.2530742 178.194763,0 222,0 L222,231 Z" fill-opacity="0.8" fill="#FFFFFF"></path>
                            <path d="M222,231 L102,37.2675619 C138.739309,12.2530742 178.194763,0 222,0 L222,231 Z" stroke="#00282D" stroke-width="1.595"></path>
                            <path d="M221,231 L43,95.034037 C60.1413173,70.2279286 76.7103438,53.6989886 101.167556,37 L221,231 Z" fill-opacity="0.8" fill="#FFFFFF"></path>
                            <path d="M221,231 L43,95.034037 C60.1413173,70.2279286 76.7103438,53.6989886 101.167556,37 L221,231 Z" stroke="#00282D" stroke-width="1.595"></path>
                            <path d="M221,231 L2,202.802427 C6.75293438,162.215814 19.5747527,128.081618 42.4950449,95 L221,231 Z" fill-opacity="0.8" fill="#FFFFFF"></path>
                            <path d="M221,231 L2,202.802427 C6.75293438,162.215814 19.5747527,128.081618 42.4950449,95 L221,231 Z" stroke="#00282D" stroke-width="1.595"></path>
                            <path d="M221,231 L221,0 C343.055131,0 442,103.422253 442,231 C442,358.577747 343.055131,462 221,462 C98.9448691,462 0,358.577747 0,231 C0,220.793516 0.457007464,212.97766 1.64742932,202.848364 L221,231 Z" fill-opacity="0.8" fill="#FFFFFF"></path>
                            <path d="M221,231 L221,0 C343.055131,0 442,103.422253 442,231 C442,358.577747 343.055131,462 221,462 C98.9448691,462 0,358.577747 0,231 C0,220.793516 0.457007464,212.97766 1.64742932,202.848364 L221,231 Z" stroke="#00282D" stroke-width="1.595"></path>
                        </g>
                        <text class="s5-font-graphic s5-font-graphic--pie" fill="#00282D">
                            <tspan x="376" y="396">{{s5-pie-year-2020-value-china-label}}</tspan>
                            <tspan x="376" y="418">{{s5-pie-year-2020-value-china-value}}</tspan>
                        </text>
                        <text class="s5-font-graphic s5-font-graphic--pie" fill="#FFFFFF">
                            <tspan x="0" y="19">{{s5-pie-year-2020-value-europe-label}}</tspan>
                            <tspan x="0" y="41">{{s5-pie-year-2020-value-europe-value}}</tspan>
                        </text>
                        <text class="s5-font-graphic s5-font-graphic--pie pie-us-es pie-us-es--2020" fill="#00282D">
                            <tspan x="274" y="121">{{s5-pie-year-2020-value-us-label}}</tspan>
                            <tspan x="274" y="143">{{s5-pie-year-2020-value-us-value}}</tspan>
                        </text>
                        <g transform="translate(0.000000, 32.000000)">
                            <text class="s5-font-graphic s5-font-graphic--pie" fill="#FFFFFF">
                                <tspan x="0" y="391">{{s5-pie-year-2020-value-asia-label1}}</tspan>
                                <tspan x="0" y="413">{{s5-pie-year-2020-value-asia-label2}}</tspan>
                                <tspan x="0" y="435">{{s5-pie-year-2020-value-asia-value}}</tspan>
                            </text>
                            <polyline stroke="#FFFFFF" stroke-width="1.7" points="53.7862549 385 53.7862549 189.5 57.3400752 189.5 119.786255 189.5"></polyline>
                            <polyline stroke="#FFFFFF" stroke-width="1.7" transform="translate(112.036255, 47.750000) rotate(-270.000000) translate(-112.036255, -47.750000) " points="65.0362549 120.25 65.0362549 -24.75 70.0977565 -24.75 159.036255 -24.75"></polyline>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>