NOT IN USE

<?xml version="1.0" encoding="UTF-8"?>
<svg width="299px" height="324px" viewBox="0 0 299 324" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title>mobile</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="mobile" transform="translate(-12.000000, -1.000000)">
            <g id="Bars" transform="translate(13.000000, 71.000000)">
                <polygon id="r1" class="s6-fade s6-fade--1" stroke="#D9D538" fill="#00282D" transform="translate(12.500000, 126.500000) rotate(-90.000000) translate(-12.500000, -126.500000) " points="-114 114 139 114 139 139 -114 139"></polygon>
                <polygon id="r2" class="s6-fade s6-fade--2" stroke="#D9D538" fill="#00282D" transform="translate(37.500000, 155.000000) rotate(-90.000000) translate(-37.500000, -155.000000) " points="-60.5 142.5 135.5 142.5 135.5 167.5 -60.5 167.5"></polygon>
                <polygon id="r3" class="s6-fade s6-fade--3" stroke="#D9D538" fill="#00282D" transform="translate(62.500000, 175.500000) rotate(-90.000000) translate(-62.500000, -175.500000) " points="-15 163 140 163 140 188 -15 188"></polygon>
                <polygon id="r4" class="s6-fade s6-fade--4" stroke="#D9D538" fill="#00282D" transform="translate(87.500000, 181.000000) rotate(-90.000000) translate(-87.500000, -181.000000) " points="15.5 168.5 159.5 168.5 159.5 193.5 15.5 193.5"></polygon>
                <polygon id="r5" class="s6-fade s6-fade--5" stroke="#D9D538" fill="#00282D" transform="translate(112.500000, 190.500000) rotate(-90.000000) translate(-112.500000, -190.500000) " points="50 178 175 178 175 203 50 203"></polygon>
                <polygon id="r6" class="s6-fade s6-fade--6" stroke="#D9D538" fill="#00282D" transform="translate(137.500000, 211.500000) rotate(-90.000000) translate(-137.500000, -211.500000) " points="96 199 179 199 179 224 96 224"></polygon>
                <polygon id="r7" class="s6-fade s6-fade--7" stroke="#D9D538" fill="#00282D" transform="translate(162.500000, 222.000000) rotate(-90.000000) translate(-162.500000, -222.000000) " points="131.5 209.5 193.5 209.5 193.5 234.5 131.5 234.5"></polygon>
                <polygon id="r8" class="s6-fade s6-fade--8" stroke="#D9D538" fill="#00282D" transform="translate(187.500000, 228.500000) rotate(-90.000000) translate(-187.500000, -228.500000) " points="163 216 212 216 212 241 163 241"></polygon>
                <polygon id="r9" class="s6-fade s6-fade--9" stroke="#D9D538" fill="#00282D" transform="translate(212.500000, 234.000000) rotate(-90.000000) translate(-212.500000, -234.000000) " points="193.5 221.5 231.5 221.5 231.5 246.5 193.5 246.5"></polygon>
                <polygon id="r10" class="s6-fade s6-fade--10" stroke="#D9D538" fill="#00282D" transform="translate(237.500000, 237.500000) rotate(-90.000000) translate(-237.500000, -237.500000) " points="222 225 253 225 253 250 222 250"></polygon>
                <polygon id="r11" class="s6-fade s6-fade--11" stroke="#00282D" fill="#FFFFFF" transform="translate(281.500000, 243.000000) rotate(-90.000000) translate(-281.500000, -243.000000) " points="271.5 230.5 291.5 230.5 291.5 255.5 271.5 255.5"></polygon>
            </g>
            <text id="2010-$1,160" class="s6-font-graphic s6-fade s6-fade--1" fill="#00282D">
                <tspan x="18" y="19">2010</tspan>
                <tspan x="18" y="41">$1,160</tspan>
            </text>
            <text id="2024-&lt;$100" class="s6-font-graphic s6-fade s6-fade--11" fill="#00282D">
                <tspan x="260" y="245.568359">2024</tspan>
                <tspan x="260" y="267.568359">&lt;$100</tspan>
            </text>
            <text id="2015-$373" class="s6-font-graphic s6-fade s6-fade--5" fill="#00282D">
                <tspan x="133" y="148.568359">2015</tspan>
                <tspan x="133" y="170.568359">$373</tspan>
            </text>
            <path d="M296.5,277.5 L296,303.5" id="r10" class="s6-fade s6-fade--11" stroke="#00282D"></path>
            <path d="M150.5,180.5 L150.5,241" id="r5" class="s6-fade s6-fade--5" stroke="#00282D"></path>
            <path d="M25,51 L25,111.5" id="r1" class="s6-fade s6-fade--1" stroke="#00282D"></path>
        </g>
    </g>
</svg>