NOT IN USE

<?xml version="1.0" encoding="UTF-8"?>
<svg width="1160px" height="471px" viewBox="0 0 1160 471" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Chart-6" transform="translate(0.000000, 0.000000)">
            <g id="Bar-chart" transform="translate(0.000000, 47.000000)">
                <polygon id="r1" class="s6-fade s6-fade--1" stroke="#D9D538" fill="#00282D" transform="translate(48.500000, 211.500000) rotate(-90.000000) translate(-48.500000, -211.500000) " points="-163 163.500852 260 163.500852 260 259.5 -163 259.5"></polygon>
                <polygon id="r2" class="s6-fade s6-fade--2" stroke="#D9D538" fill="#00282D" transform="translate(145.000000, 259.000000) rotate(-90.000000) translate(-145.000000, -259.000000) " points="-19 211 309 211 309 307 -19 307"></polygon>
                <polygon id="r3" class="s6-fade s6-fade--3" stroke="#D9D538" fill="#00282D" transform="translate(241.500000, 293.500000) rotate(-90.000000) translate(-241.500000, -293.500000) " points="112 245.5 371 245.5 371 341.5 112 341.5"></polygon>
                <polygon id="r4" class="s6-fade s6-fade--4" stroke="#D9D538" fill="#00282D" transform="translate(338.500000, 302.500000) rotate(-90.000000) translate(-338.500000, -302.500000) " points="218 254.5 459 254.5 459 350.5 218 350.5"></polygon>
                <polygon id="r5" class="s6-fade s6-fade--5" stroke="#D9D538" fill="#00282D" transform="translate(436.000000, 319.000000) rotate(-90.000000) translate(-436.000000, -319.000000) " points="332 271 540 271 540 367 332 367"></polygon>
                <polygon id="r6" class="s6-fade s6-fade--6" stroke="#D9D538" fill="#00282D" transform="translate(532.000000, 354.000000) rotate(-90.000000) translate(-532.000000, -354.000000) " points="463 306 601 306 601 402 463 402"></polygon>
                <polygon id="r7" class="s6-fade s6-fade--7" stroke="#D9D538" fill="#00282D" transform="translate(628.500000, 371.500000) rotate(-90.000000) translate(-628.500000, -371.500000) " points="577 323.5 680 323.5 680 419.5 577 419.5"></polygon>
                <polygon id="r8" class="s6-fade s6-fade--8" stroke="#D9D538" fill="#00282D" transform="translate(725.000000, 382.000000) rotate(-90.000000) translate(-725.000000, -382.000000) " points="684 334 766 334 766 430 684 430"></polygon>
                <polygon id="r9" class="s6-fade s6-fade--9" stroke="#D9D538" fill="#00282D" transform="translate(822.000000, 391.000000) rotate(-90.000000) translate(-822.000000, -391.000000) " points="790 343 854 343 854 439 790 439"></polygon>
                <polygon id="r10" class="s6-fade s6-fade--10" stroke="#D9D538" fill="#00282D" transform="translate(919.000000, 397.000000) rotate(-90.000000) translate(-919.000000, -397.000000) " points="893 349 945 349 945 445 893 445"></polygon>
                <polygon id="r11" class="s6-fade s6-fade--11" stroke="#00282D" fill="#FFFFFF" transform="translate(1111.000000, 406.000000) rotate(-90.000000) translate(-1111.000000, -406.000000) " points="1094 358 1128 358 1128 454 1094 454"></polygon>
            </g>
            <text id="2010-$1,160" class="s6-font-graphic s6-fade s6-fade--1" fill="#00282D">
                <tspan x="9" y="16">2010</tspan>
                <tspan x="9" y="38">$1,160</tspan>
            </text>
            <text id="2011-$899" class="s6-font-graphic s6-fade s6-fade--2" fill="#00282D">
                <tspan x="104.240234" y="107.568359">2011</tspan>
                <tspan x="104.240234" y="129.568359">$899</tspan>
            </text>
            <text id="2012-$707" class="s6-font-graphic s6-fade s6-fade--3" fill="#00282D">
                <tspan x="203.240234" y="176.568359">2012</tspan>
                <tspan x="203.240234" y="198.568359">$707</tspan>
            </text>
            <text id="2013-$650" class="s6-font-graphic s6-fade s6-fade--4" fill="#00282D">
                <tspan x="294.240234" y="195.568359">2013</tspan>
                <tspan x="294.240234" y="217.568359">$650</tspan>
            </text>
            <text id="2014-$577" class="s6-font-graphic s6-fade s6-fade--5" fill="#00282D">
                <tspan x="395.240234" y="227.568359">2014</tspan>
                <tspan x="395.240234" y="249.568359">$577</tspan>
            </text>
            <text id="2015-$373" class="s6-font-graphic s6-fade s6-fade--6" fill="#00282D">
                <tspan x="493.240234" y="293.568359">2015</tspan>
                <tspan x="493.240234" y="315.568359">$373</tspan>
            </text>
            <text id="2016-$288" class="s6-font-graphic s6-fade s6-fade--7" fill="#00282D">
                <tspan x="584.240234" y="334.568359">2016</tspan>
                <tspan x="584.240234" y="356.568359">$288</tspan>
            </text>
            <text id="2017-$214" class="s6-font-graphic s6-fade s6-fade--8" fill="#00282D">
                <tspan x="682.240234" y="353.568359">2017</tspan>
                <tspan x="682.240234" y="375.568359">$214</tspan>
            </text>
            <text id="2018-$176" class="s6-font-graphic s6-fade s6-fade--9" fill="#00282D">
                <tspan x="780.240234" y="373.568359">2018</tspan>
                <tspan x="780.240234" y="395.568359">$176</tspan>
            </text>
            <text id="2019-$156" class="s6-font-graphic s6-fade s6-fade--10" fill="#00282D">
                <tspan x="878.240234" y="382.568359">2019</tspan>
                <tspan x="878.240234" y="404.568359">$156</tspan>
            </text>
            <text id="2024-&lt;$100" class="s6-font-graphic s6-fade s6-fade--11" fill="#00282D">
                <tspan x="1069.24023" y="401.568359">2024</tspan>
                <tspan x="1063.40039" y="423.568359">&lt;$100</tspan>
            </text>
        </g>
    </g>
</svg>