<section class="section section--5 ag-bg-primary" id="s5" data-section="5">
	<div class="horizontal-wrapper" id="pinContainer_s5">
		<div class="horizontal-wrapper-inner">
			<div class="wipe-section w300p wipe-s5">   
				<article class="w100p first">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-5">
								<h2>{{s5-title}}</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
								<div class="ig-mb-med">
									{{{s5-p1}}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
								<h3 class="title ig-mb-xs">{{s5-chart-title}}</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
								<div class="ig-mb-xs ivanim-fadebubble"> 
									{{> s5_battery_bubblechart }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
								<div class="source ig-mb-med">
									{{s5-chart-caption}}
								</div>
							</div>
						</div>
					</div>
				</article>
				<article class="w100p">
					<div class="ig-flex-center">
						<div>
							<div class="container">
								<div class="row">
									<div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-0 col-xl-4 offset-xl-1">
										<figure class="ev-battery ig-mb-sml ivanim-fade">
											<img src="{{cdn}}media/images/ev-battery.jpg" alt="EV battery">
											<figcaption>
												{{{s5-battery-caption}}}
											</figcaption>
										</figure>
									</div>
									<div class="col-12 col-md-5 offset-md-0 col-lg-4 offset-lg-1 ig-mb-sml">
										{{{s5-p2}}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article class="">
					<div class="ig-flex-center">
						<div class="car-pie ivanim-fade">
								
							<div class="pie-aligned-top">
								<h3 class="title ig-mb-xs">{{{s5-pie-title}}}</h3>
								<div class="toggle-year js-toggle-pie-year">
									<div class="inner">
										<button data-show=".svg-2020">2020</button>
										<button data-show=".svg-2025" class="is-selected">2025</button>
									</div>
								</div>
							</div>

							<div class="visual"> 
								<img class="car-bg" src="{{cdn}}media/images/car-pie.png" alt="EV Car">
								<div id="#svg-2020" class="svg-2020 svg-pie">
									{{> s5_pie-2020 }}
								</div>
								<div id="#svg-2025" class="svg-2025 svg-pie is-selected">
									{{> s5_pie-2025 }}
								</div>
							</div>
							<div class="source">
								{{{s5-pie-caption}}}
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>


