<section class="section section--6 ag-bg-secondary" id="s6" data-section="6">
	<article class="container">
		<div class="row">
			<div class="col-12 col-md-5">
				<h2>{{s6-title}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
				<div class="ig-mb-med">
					{{{s6-p1}}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<h3 class="title ig-mb-xs">{{{s6-chart-title}}}</h3>
				<div class="ig-mb-xs ivanim-fadebars"> 
					<div class="ig-bars">
						<div class="svg ivanim-growarrow">
							<svg class="show-mobile-only" width="186px" height="154px" viewBox="0 0 186 154" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							        <g transform="translate(-121.000000, -9141.000000)" fill="#1D4045">
							            <g transform="translate(121.000000, 9141.000000)">
							                <path class="arrow-path" d="M185.4722,148.0597 C184.4372,149.8337 183.3792,151.6087 182.3002,153.3817 L181.1772,153.3617 L184.0952,148.5097 L181.0062,148.4527 L176.6292,148.3707 C174.5302,148.3017 172.4332,148.1467 170.3342,148.0387 C168.2362,147.9267 166.1382,147.8137 164.0482,147.5807 L157.7732,146.9807 L151.5242,146.1437 L148.4012,145.7137 L145.2962,145.1647 C143.2292,144.7867 141.1512,144.4617 139.0932,144.0387 C134.9882,143.1317 130.8672,142.2927 126.8192,141.1507 C122.7322,140.1557 118.7432,138.8097 114.7222,137.5847 C110.7672,136.1587 106.7762,134.8287 102.9092,133.1687 C100.9602,132.3777 99.0032,131.6087 97.1072,130.6967 C95.2012,129.8097 93.2752,128.9627 91.3852,128.0417 L85.7762,125.1567 C83.8982,124.2087 82.1122,123.0917 80.2762,122.0677 C73.0292,117.8087 65.9942,113.1477 59.4632,107.8387 C52.9172,102.5547 46.7552,96.7977 41.0592,90.6047 C35.3692,84.4017 30.2532,77.6887 25.6202,70.6697 C23.2642,67.1817 21.1892,63.5197 19.0952,59.8717 L16.1892,54.2697 C15.2132,52.4067 14.4072,50.4597 13.5072,48.5587 C10.0912,40.8737 7.1682,32.9597 4.9512,24.8427 C2.7472,16.7227 1.1132,8.4577 -0.0008,0.1197 L0.9442,-0.0003 C2.0512,8.2947 3.6772,16.5147 5.8682,24.5887 C8.0732,32.6617 10.9802,40.5297 14.3752,48.1687 C15.2692,50.0587 16.0712,51.9937 17.0402,53.8457 L19.9292,59.4137 C22.0122,63.0397 24.0742,66.6807 26.4162,70.1477 C31.0222,77.1237 36.1072,83.7967 41.7622,89.9627 C47.4252,96.1197 53.5502,101.8427 60.0582,107.0967 C66.5522,112.3747 73.5472,117.0087 80.7542,121.2457 C82.5802,122.2637 84.3562,123.3747 86.2242,124.3177 L91.8042,127.1887 C93.6842,128.1037 95.6002,128.9457 97.4962,129.8277 C99.3822,130.7357 101.3292,131.5007 103.2682,132.2887 C107.1152,133.9387 111.0872,135.2617 115.0232,136.6817 C119.0262,137.9007 122.9932,139.2407 127.0622,140.2307 C131.0912,141.3687 135.1942,142.2037 139.2812,143.1047 C141.3292,143.5267 143.3992,143.8497 145.4572,144.2267 L148.5482,144.7737 L151.6582,145.2017 L157.8802,146.0347 L164.1312,146.6327 C166.2122,146.8647 168.3022,146.9777 170.3922,147.0887 C172.4832,147.1957 174.5712,147.3507 176.6622,147.4187 L181.0232,147.5007 L184.1012,147.5577 C183.1672,145.9057 182.2532,144.2527 181.3572,142.6007 L182.4322,142.6217 C183.4232,144.4337 184.4372,146.2477 185.4722,148.0597"></path>
							            </g>
							        </g>
							    </g>
							</svg>
							<svg class="show-desktop-only" width="775px" height="301px" viewBox="0 0 775 301" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g transform="translate(-468.000000, -7308.000000)" fill="#1D4045">
										<g transform="translate(0.000000, 6659.000000)">
											<g transform="translate(468.000000, 649.000000)">
												<path class="arrow-path" d="M775,291.843771 L769.798812,301 L767.957746,300.980484 L772.708917,292.633667 L767.565731,292.579227 L755.489295,292.449803 C699.947288,291.865341 644.413282,288.769439 589.178286,282.631047 L568.496539,280.053867 C561.60729,279.149954 554.697041,278.416551 547.836793,277.300013 C534.098296,275.198415 520.331799,273.290953 506.666305,270.721991 L496.398934,268.908001 C492.981811,268.276289 489.543687,267.762702 486.144564,267.027246 L465.704825,262.874381 C462.303703,262.156386 458.880579,261.549327 455.497457,260.738886 L445.332089,258.395902 L435.167722,256.051891 C431.7846,255.245559 428.376477,254.55119 425.018356,253.637005 C411.553869,250.126124 398.041381,246.806297 384.706899,242.797237 C371.284414,239.106601 358.061936,234.717486 344.784457,230.52148 C318.384503,221.61999 292.29456,211.753983 266.673635,200.696455 C215.560788,178.33693 166.327009,151.150715 120.977371,118.087009 C75.672734,85.0500107 34.32224,45.9937721 0,1.00149469 L1.2510452,0 C35.4622812,44.8474459 76.6997711,83.7999399 121.896404,116.758873 C167.138039,149.744513 216.271814,176.876289 267.293657,199.195753 C292.867581,210.234793 318.915522,220.084365 345.272474,228.971475 C358.529953,233.16029 371.73143,237.543242 385.133915,241.228742 C398.449396,245.232667 411.944883,248.547358 425.389369,252.052075 C428.74249,252.96626 432.146613,253.658576 435.524735,254.464907 L445.676102,256.80481 L455.828469,259.145739 C459.205591,259.954125 462.625714,260.560158 466.021837,261.278153 L486.435574,265.424854 C489.830697,266.159284 493.264821,266.672871 496.677944,267.303556 L506.932315,269.115491 C520.581808,271.681371 534.333305,273.587806 548.054801,275.68735 C554.908048,276.800807 561.811298,277.534209 568.691546,278.437095 L589.350293,281.01222 C644.528286,287.142395 700.011291,290.238298 755.506296,290.820705 L767.571732,290.950129 L772.710917,291.004569 L768.023748,282.55709 L769.847814,282.576606 L775,291.843771 Z"></path>
											</g>
										</g>
									</g>
								</g>
							</svg>
						</div>
						{{> bar-chart-vertical }}
					</div>
				</div>
				<div class="source ig-mb-med">
					{{{s6-chart-caption}}}
				</div>
			</div>
		</div>
	</article>
</section>


