<section class="section section--8 ag-bg-primary" id="s8" data-section="8">
	<article class="container ivanim-slidefade">
		<div class="row">
			<div class="col-12 col-md-6">
				<h2>{{s8-title}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-3 order-md-2 offset-xl-1">
				<div class="ig-mb-med counter">
					<strong class="js-stat-number" data-separator="" data-decimal="0" data-duration="1" data-number="2040" data-prefix="" data-suffix="">2020</strong>
					<div class="ivanim-fade ivanim-fade--delay-1s"> 
						{{s8-counter}}
					</div>
				</div>
			</div>
			<div class="col-12 col-md-7 offset-md-2 order-md-1 col-xl-5">
				<div class="ig-mb-med">
					{{{s8-p}}}
				</div>
			</div>
		</div>
	</article>
</section>