NOT IN USE

<section class="section section--3 ag-bg-primary" id="s3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <h2>{{s3-title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="ig-mb-med">
                    {{{s3-p1}}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="title ig-mb-xs ivanim-fade">
                    {{{s3-table-title}}}
                </div>
                <table class="table-top-manufacturer ivanim-fade">
                    <tr class="border-bottom">
                        <th>Rank</th>
                        <th>Company</th>
                        <th>Market cap<br />(US$BN)</th>
                        <th>Country</th>
                        <th>Type of <span>manufacturer</span></th>
                    </tr>
                    <tr>
                        <td>#1</td>
                        <td>Tesla</td>
                        <td>$795.8</td>
                        <td>US</td>
                        <td>Electric</td>
                    </tr>
                    <tr>
                        <td>#2</td>
                        <td>Toyota</td>
                        <td>$207.5</td>
                        <td>Japan</td>
                        <td>ICE, Electric & Hybrid</td>
                    </tr>
                    <tr>
                        <td>#3</td>
                        <td>Volkswagen</td>
                        <td>$96.7</td>
                        <td>Germany</td>
                        <td>ICE, Electric & Hybrid</td>
                    </tr>
                    <tr>
                        <td>#4</td>
                        <td>BYD</td>
                        <td>$92.7</td>
                        <td>China</td>
                        <td>ICE, Electric & Hybrid</td>
                    </tr>
                    <tr>
                        <td>#5</td>
                        <td>NIO</td>
                        <td>$89.5</td>
                        <td>China</td>
                        <td>Electric</td>
                    </tr>
                    <tr>
                        <td>#6</td>
                        <td>Daimler</td>
                        <td>$72.8</td>
                        <td>Germany</td>
                        <td>ICE, Electric & Hybrid</td>
                    </tr>
                    <tr>
                        <td>#7</td>
                        <td>General Motors</td>
                        <td>$71.3</td>
                        <td>US</td>
                        <td>ICE, Electric & Hybrid</td>
                    </tr>
                    <tr>
                        <td>#8</td>
                        <td>BMW</td>
                        <td>$54.2</td>
                        <td>Germany</td>
                        <td>ICE, Electric & Hybrid</td>
                    </tr>
                    <tr>
                        <td>#9</td>
                        <td>Stellantis</td>
                        <td>$54.2</td>
                        <td>Netherlands</td>
                        <td>ICE, Electric & Hybrid</td>
                    </tr>
                    <tr>
                        <td>#10</td>
                        <td>Ferrari</td>
                        <td>$52.5</td>
                        <td>Italy</td>
                        <td>ICE, Electric & Hybrid</td>
                    </tr>
                </table>
                <p class="source ivanim-fade">{{s3-table-source}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div>
                    Market share<br />(%)
                </div>
                <div>
                    
                </div>
                <div class="source">
                    {{s3-marketshare-caption}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="ig-mb-med">
                    {{{s3-p2}}}
                </div>
            </div>
        </div>

    </div>
</section>


