<section class="section section--7 ag-bg-primary" id="s7" data-section="7">
	<article class="container ivanim-slidefade">
		<div class="row">
			<div class="col-12 col-md-6">
				<h2>{{s7-title}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
				<div class="ig-mb-med">
					{{{s7-p1}}}
				</div>
			</div>
		</div>
	</article>
	<article class="ag-bg-primary">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
					<h3 class="title ig-mb-sml">{{locations-title}}</h3>
				</div>
			</div>
		</div>
		<ul class="locations">
			<li class="">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
							<div class="locations--item">
								<p>{{{location-1}}}</p>
								
								<i class="number">1</i>
								<div class="globe">
									<img src="{{cdn}}media/images/svg/globe-location1.svg" alt="Globe">
									<div>{{location-1-date}}</div>
								</div>
								<div class="open-prompt js-open-prompt"><div></div></div>
							</div>
						</div>

					</div>
				</div>
				<img class="photography" src="{{cdn}}media/images/location1.jpg" alt="Photography">
			</li>
			<li class="">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
							<div class="locations--item">
								<p>{{{location-2}}}</p>
								
								<i class="number">2</i>
								<div class="globe">
									<img src="{{cdn}}media/images/svg/globe-location2.svg" alt="Globe">
									<div>{{location-2-date}}</div>
								</div>
								<div class="open-prompt js-open-prompt"><div></div></div>
							</div>
						</div>

					</div>
				</div>
				<img class="photography" src="{{cdn}}media/images/location2.jpg" alt="Photography">
			</li>
			<li class="">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
							<div class="locations--item">
								<p>{{{location-3}}}</p>
								
								<i class="number">3</i>
								<div class="globe">
									<img src="{{cdn}}media/images/svg/globe-location3.svg" alt="">
									<div>{{location-3-date}}</div>
								</div>
								<div class="open-prompt js-open-prompt"><div></div></div>
							</div>
						</div>
					</div>
				</div>
				<img class="photography" src="{{cdn}}media/images/location3.jpg" alt="Photography">
			</li>
			<li class="">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
							<div class="locations--item">
								<p>{{{location-4}}}</p>
								
								<i class="number">4</i>
								<div class="globe">
									<img src="{{cdn}}media/images/svg/globe-location4.svg" alt="Globe">
									<div>{{location-4-date}}</div>
								</div>
								<div class="open-prompt js-open-prompt"><div></div></div>
							</div>
						</div>
					</div>
				</div>
				<img class="photography" src="{{cdn}}media/images/location4.jpg" alt="Photography">
			</li>
			<li class="">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
							<div class="locations--item">
								<p>{{{location-5}}}</p>
								
								<i class="number">5</i>
								<div class="globe">
									<img src="{{cdn}}media/images/svg/globe-location5.svg" alt="Globe">
									<div>{{location-5-date}}</div>
								</div>
								<div class="open-prompt js-open-prompt"><div></div></div>
							</div>
						</div>
					</div>
				</div>
				<img class="photography" src="{{cdn}}media/images/location5.jpg" alt="Photography">
			</li>

		</ul>
	</article>
	<article class="ag-bg-white ig-pt-sml">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
					<div class="ig-mb-sml">
						{{{s7-p2}}}
					</div>
				</div>
			</div> 
		</div>
		<div class="container ivanim-slidefade">
			<div class="row">
				<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
					<h3 class="title ig-mb-xs">
						{{s7-photo-title}}
					</h3>
				</div>
			</div>
		</div>
		<div class="show-mobile-only">
			<div class="team-car-container ivanim-revealzoom">
				<img src="{{cdn}}media/images/team-car-mob.jpg" alt="Sainz XE Team car">
			</div>
		</div>
		<div class="container show-desktop-only">
			<div class="row">
				<div class="col-12">
					<div class="team-car-container ivanim-revealzoom">
						<img src="{{cdn}}media/images/team-car.jpg" alt="Sainz XE Team car">
					</div>
				</div>
			</div>
		</div>
		<div class="container ivanim-slidefade">
			<div class="row">
				<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
					<div class="source ig-mb-med">{{s7-photo-caption}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
					<div class="ig-mb-med">
						{{{s7-p3}}}
					</div>
				</div>
			</div>  
		</div>
	</article>
</section>
