<section class="section section--3 ag-bg-primary" id="s3" data-section="3">
    <div class="horizontal-wrapper" id="pinContainer_s3">
        <div class="horizontal-wrapper-inner">
            
        
            <div class="wipe-section wipe-s3">
                
                <article class="w100p first pos-r">
                    <div class="scroll-indicator ivanim-growline">
                        <div><a class="scrollTo label" href="#market-share">{{{s3-ctascroll}}}</a></div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-10 col-md-5 col-xl-5">
                                <h2 class="s3-title">{{s3-title}}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-4">
                                <div class="ig-mb-med">
                                    {{{s3-p1}}}
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {{!-- <div class="w100p">
                    <div class="container"></div>
                        <div class="row">
                            <div class="col-12 col-md-6 offset-md-3">
                                <div class="title ig-mb-xs ivanim-fade">
                                    {{{s3-table-title}}}
                                </div>
                                <table class="table-top-manufacturer ivanim-fade">
                                    <tr class="border-bottom">
                                        <th>Rank</th>
                                        <th>Company</th>
                                        <th>Market cap<br />(US$BN)</th>
                                        <th>Country</th>
                                        <th>Type of <span>manufacturer</span></th>
                                    </tr>
                                    <tr>
                                        <td>#1</td>
                                        <td>Tesla</td>
                                        <td>$795.8</td>
                                        <td>US</td>
                                        <td>Electric</td>
                                    </tr>
                                    <tr>
                                        <td>#2</td>
                                        <td>Toyota</td>
                                        <td>$207.5</td>
                                        <td>Japan</td>
                                        <td>ICE, Electric & Hybrid</td>
                                    </tr>
                                    <tr>
                                        <td>#3</td>
                                        <td>Volkswagen</td>
                                        <td>$96.7</td>
                                        <td>Germany</td>
                                        <td>ICE, Electric & Hybrid</td>
                                    </tr>
                                    <tr>
                                        <td>#4</td>
                                        <td>BYD</td>
                                        <td>$92.7</td>
                                        <td>China</td>
                                        <td>ICE, Electric & Hybrid</td>
                                    </tr>
                                    <tr>
                                        <td>#5</td>
                                        <td>NIO</td>
                                        <td>$89.5</td>
                                        <td>China</td>
                                        <td>Electric</td>
                                    </tr>
                                    <tr>
                                        <td>#6</td>
                                        <td>Daimler</td>
                                        <td>$72.8</td>
                                        <td>Germany</td>
                                        <td>ICE, Electric & Hybrid</td>
                                    </tr>
                                    <tr>
                                        <td>#7</td>
                                        <td>General Motors</td>
                                        <td>$71.3</td>
                                        <td>US</td>
                                        <td>ICE, Electric & Hybrid</td>
                                    </tr>
                                    <tr>
                                        <td>#8</td>
                                        <td>BMW</td>
                                        <td>$54.2</td>
                                        <td>Germany</td>
                                        <td>ICE, Electric & Hybrid</td>
                                    </tr>
                                    <tr>
                                        <td>#9</td>
                                        <td>Stellantis</td>
                                        <td>$54.2</td>
                                        <td>Netherlands</td>
                                        <td>ICE, Electric & Hybrid</td>
                                    </tr>
                                    <tr>
                                        <td>#10</td>
                                        <td>Ferrari</td>
                                        <td>$52.5</td>
                                        <td>Italy</td>
                                        <td>ICE, Electric & Hybrid</td>
                                    </tr>
                                </table>
                                <p class="source ivanim-fade">{{s3-table-source}}</p>
                            </div>
                        </div>
                    </div>
                </div> --}}
                <article class="w100p">
                    <div class="ig-flex-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-10">
                                    <h3 class="title ig-mb-sml" id="market-share">{{{s3-chart-title}}}</h3>
                                    <div class="ig-bars">
                                        {{> bar-chart 
                                            number=1
                                            symbol=s3-chart-symbol 
                                            name=s3-chart-label-tesla 
                                            value=s3-chart-value-tesla 
                                            valuegraph=s3-chart-valuegraph-tesla 
                                        }}
                                        {{> bar-chart 
                                            number=2
                                            symbol=s3-chart-symbol 
                                            name=s3-chart-label-vw-group 
                                            value=s3-chart-value-vw-group 
                                            valuegraph=s3-chart-valuegraph-vw-group 
                                        }}
                                        {{> bar-chart 
                                            number=3
                                            symbol=s3-chart-symbol 
                                            name=s3-chart-label-saic 
                                            value=s3-chart-value-saic 
                                            valuegraph=s3-chart-valuegraph-saic 
                                        }}
                                        {{> bar-chart 
                                            number=4
                                            symbol=s3-chart-symbol 
                                            name=s3-chart-label-renault–nissan 
                                            value=s3-chart-value-renault–nissan 
                                            valuegraph=s3-chart-valuegraph-renault–nissan 
                                        }}
                                        {{> bar-chart 
                                            number=5
                                            symbol=s3-chart-symbol 
                                            name=s3-chart-label-bmw-group 
                                            value=s3-chart-value-bmw-group 
                                            valuegraph=s3-chart-valuegraph-bmw-group 
                                        }}
                                        
                                    </div>
                                    <div class="source ig-mb-xs">
                                        {{{s3-marketshare-caption}}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {{!-- <div class="w110v">
                    <div class="max-800">
                        <div class="container-fluid">
                            
                            <div class="row">
                                <div class="col-12 col-md-6 offset-md-3">
                                    <div class="ig-mb-med">
                                        {{{s3-p2}}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>

    </div>
</section>


