<section class="section section--4 ag-bg-white" id="s4" data-section="4">
	<article class="container">
		<div class="row">
			<div class="col-12 col-md-8 col-lg-6">
				<h2>{{s4-title}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
				<div class="">
					{{{s4-p1}}}
				</div>
			</div>
		</div>
	</article>

	<div id="trigger"></div>
	<article id="img-sequence">
		<div class="ig-100vh">
			<div class="ig-flex-center">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-12">
							<div class="battery-img-sequence-container pos-r">
								<img class="battery-sequence-sizer" id="battery-img-sequence" data-frameCount="250" data-path="{{cdn}}media/images/3d/b" data-extension=".jpg" src="{{cdn}}media/images/3d/b000.jpg" alt="Battery 3D model">
								<canvas id="battery-sequence">Your browser does not support the canvas tag.</canvas>

								<div class="infobox-container-mobile">
									<div class="infobox infobox--1 infobox--lithium infobox--left">
										<p>{{{battery-layer-lithium}}}<br />
											<img src="{{cdn}}media/images/comp-lithium.jpg" alt="lithium" />
										</p>
									</div>
									<div class="infobox infobox--2 infobox--cobalt infobox--right infobox--top">
										<p>{{{battery-layer-cobalt}}}<br />
											<img src="{{cdn}}media/images/comp-cobalt.jpg" alt="cobalt" />
										</p>
									</div>
									<div class="infobox infobox--3 infobox--nickel infobox--left">
										<p>{{{battery-layer-nickel}}}<br />
											<img src="{{cdn}}media/images/comp-nickel.jpg" alt="nickel" />
										</p>
									</div>
									<div class="infobox infobox--4 infobox--graphite infobox--right">
										<p>{{{battery-layer-graphite}}}<br />
											<img src="{{cdn}}media/images/comp-graphite.jpg" alt="graphite" />
										</p>
									</div>
									<div class="infobox infobox--5 infobox--nanotechnology infobox--left infobox--top">
										<p>{{{battery-layer-nanotechnology}}}<br />
											<img src="{{cdn}}media/images/comp-nanotechnology.jpg" alt="nanotechnology" />
										</p>
									</div>
								</div>
							</div>
{{!-- 
							<div class="sequence-image-list js-sequence-image-list">
								<img data-src="{{cdn}}media/images/3d/b000.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b001.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b002.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b003.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b004.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b005.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b006.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b007.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b008.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b009.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b010.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b012.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b013.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b014.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b015.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b016.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b017.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b018.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b019.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b020.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b021.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b022.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b023.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b024.jpg" alt="" />
								<img class="lazy" data-src="{{cdn}}media/images/3d/b025.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b026.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b027.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b028.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b029.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b030.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b031.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b032.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b033.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b034.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b035.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b036.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b037.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b038.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b039.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b040.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b041.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b042.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b043.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b044.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b045.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b046.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b047.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b048.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b049.jpg" alt="" />
								<img class="lazy" data-src="{{cdn}}media/images/3d/b050.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b051.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b052.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b053.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b054.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b055.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b056.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b057.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b058.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b059.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b060.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b061.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b062.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b063.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b064.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b065.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b066.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b067.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b068.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b069.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b070.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b071.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b072.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b073.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b074.jpg" alt="" />
								<img class="lazy" data-src="{{cdn}}media/images/3d/b075.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b076.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b077.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b078.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b079.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b080.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b081.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b082.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b083.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b084.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b085.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b086.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b087.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b088.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b089.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b090.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b091.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b092.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b093.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b094.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b095.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b096.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b097.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b098.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b099.jpg" alt="" />
								<img class="lazy" data-src="{{cdn}}media/images/3d/b100.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b101.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b102.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b103.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b104.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b105.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b106.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b107.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b108.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b109.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b110.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b112.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b113.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b114.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b115.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b116.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b117.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b118.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b119.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b120.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b121.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b122.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b123.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b124.jpg" alt="" />
								<img class="lazy" data-src="{{cdn}}media/images/3d/b125.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b126.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b127.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b128.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b129.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b130.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b131.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b132.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b133.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b134.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b135.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b136.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b137.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b138.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b139.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b140.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b141.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b142.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b143.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b144.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b145.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b146.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b147.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b148.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b149.jpg" alt="" />
								<img class="lazy" data-src="{{cdn}}media/images/3d/b150.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b151.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b152.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b153.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b154.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b155.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b156.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b157.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b158.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b159.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b160.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b161.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b162.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b163.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b164.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b165.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b166.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b167.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b168.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b169.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b170.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b171.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b172.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b173.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b174.jpg" alt="" />
								<img class="lazy" data-src="{{cdn}}media/images/3d/b175.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b176.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b177.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b178.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b179.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b180.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b181.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b182.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b183.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b184.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b185.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b186.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b187.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b188.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b189.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b190.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b191.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b192.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b193.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b194.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b195.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b196.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b197.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b198.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b199.jpg" alt="" />
								<img class="lazy" data-src="{{cdn}}media/images/3d/b200.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b201.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b202.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b203.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b204.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b205.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b206.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b207.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b208.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b209.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b210.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b212.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b213.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b214.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b215.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b216.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b217.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b218.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b219.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b220.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b221.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b222.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b223.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b224.jpg" alt="" />
								<img class="lazy" data-src="{{cdn}}media/images/3d/b225.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b226.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b227.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b228.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b229.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b230.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b231.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b232.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b233.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b234.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b235.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b236.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b237.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b238.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b239.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b240.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b241.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b242.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b243.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b244.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b245.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b246.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b247.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b248.jpg" alt="" />
								<img data-src="{{cdn}}media/images/3d/b249.jpg" alt="" />
								<img class="lazy" data-src="{{cdn}}media/images/3d/b250.jpg" alt="" />
							</div> --}}
						</div>
					</div>
					{{!-- <div class="row">
						<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
							<div class="source ig-mb-med">
								{{{battery-caption}}}
							</div>
						</div>
					</div> --}}
				</div>
			</div>
		</div>  
	</article>
</section>