<section class="growth-ev-market ag-bg-white" id="s1-2">
	<div class="horizontal-wrapper" id="pinContainer_s1">
		<div class="horizontal-wrapper-inner">
			<div class="wipe-section wipe-s1">
				<article class="w100p first">
					<div class="ig-flex-center-disabled">
						<div class="container">
							<div class="row">
								<div class="col-10 col-md-4 col-lg-6">
									<h2 class="s2-title">{{s1-2-title}}</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-4 col-lg-3">
									<figure class="s2-figure1 show-desktop-only ivanim-fade queen-ev ig-mb-sml">
										<img src="{{cdn}}media/images/queen-ev.jpg" alt="Queen EV">
										<figcaption>
											{{{queen-ev-caption}}}
										</figcaption>
									</figure>
									<figure class="s2-figure2 polestar-2 show-desktop-only ivanim-fade">
										<img src="{{cdn}}media/images/tesla-modelx.jpg" alt="Tesla">
										<figcaption>
											{{{tesla-modelx-caption}}}
										</figcaption>
									</figure>
								</div>
								<div class="col-12 col-md-7 offset-md-1 col-lg-6 offset-lg-1 col-xl-6 offset-xl-0">
									{{{s1-2-p1}}}

									<figure class="show-mobile-only queen-ev ig-mb-sml ivanim-fade">
										<img src="{{cdn}}media/images/queen-ev.jpg" alt="Queen EV">
										<figcaption>
											{{{queen-ev-caption}}}
										</figcaption>
									</figure>
									<figure class="polestar-2 ivanim-fade show-mobile-only ig-mb-sml">
										<img src="{{cdn}}media/images/tesla-modelx.jpg" alt="Tesla">
										<figcaption>
											{{{tesla-modelx-caption}}}
										</figcaption>
									</figure>

									{{{s1-2-p2}}}

									<div class="show-mobile-only ig-mb-sml ivanim-svgs1">
										<h3 class="title ig-mb-xs">{{s1-graph2-title}}</h3>
										{{> s1_graphic2_mob }}
										<div class="source ig-mb-xs">
											<div class="ig-mb-xxs">
												{{{s1-graph2-footnotes}}}
											</div>
											{{{s1-graph2-source}}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>

				<article class="w_s1_g2">
					<div class="ig-flex-center">
						<div class="s2-g1 show-desktop-only ig-mb-sml ivanim-svgs1">
							<h3 class="title ig-mb-xs">{{s1-graph2-title}}</h3>
							{{> s1_graphic2 }}
							<div class="source ig-mb-xs">
								<div class="ig-mb-xxs">
									{{{s1-graph2-footnotes}}}
								</div>
								{{{s1-graph2-source}}}
							</div>
						</div>
					</div>
				</article>
				<article class="w100p">
					<div class="ig-flex-center last-wipe">
						<div class="container">
							<div class="row">
								<div class="col-12 col-md-12 col-lg-10 offset-lg-0 col-xl-10 offset-xl-1">
									<div class="s2-g2 show-desktop-only ivanim-fade ig-mb-sml ig-pt-sml">
										<h3 class="title ig-mb-xs">{{s1-graph1-title}}</h3>
										{{> s1_graphic1 }}
										<div class="source">{{s1-graph1-source}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0">
									<div class="s2-p2 ig-mb-med">
										{{{s1-2-p3}}}
									</div>
									<div class="show-mobile-only ivanim-fade ig-mb-sml s2-g2">
										<h3 class="title ig-mb-xs">{{s1-graph1-title}}</h3>
										{{> s1_graphic1_mob }}
										<div class="source">{{s1-graph1-source}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>