<section class="section section--2 ag-bg-secondary" id="s2" data-section="2">
	<article class="container">
		<div class="row">
			<div class="col-10 col-md-6 col-lg-5">
				<h2>{{s2-title}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
				<div class="ig-mb-med">
					{{{s2-p1}}}
				</div>
			</div>
		</div>
	</article>
	<div class="ivanim-slidefade">
		<article class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="ig-mb-med">
						<div class="map-container js-map-pins">
							<img src="{{cdn}}media/images/svg/Map-Dot-matrix.svg" alt="">

							<div class="pulse pulse--usa">
								<div class="inner">
									<div class="flag">
										<img src="{{cdn}}media/images/flag-us.png" alt="USA flag">
									</div>
									<div class="pin-content">
										<p>{{pin-usa}}</p>
									</div>
								</div>
							</div>

							<div class="pulse pulse--es">
								<div class="inner">
									<div class="flag">
										<img src="{{cdn}}media/images/flag-es.png" alt="Spain flag">
									</div>
									<div class="pin-content">
										<p>{{pin-spain}}</p>
									</div>
								</div>
							</div>

							<div class="pulse pulse--norway">
								<div class="inner">
									<div class="flag">
										<img src="{{cdn}}media/images/flag-norway.png" alt="Norway flag">
									</div>
									<div class="pin-content">
										<p>{{pin-norway}}</p>
									</div>
								</div>
							</div>

							<div class="pulse pulse--southkorea">
								<div class="inner">
									<div class="flag">
										<img src="{{cdn}}media/images/flag-southkorea.png" alt="South Korea flag">
									</div>
									<div class="pin-content">
										<p>{{pin-southkorea}}</p>
									</div>
								</div>
							</div>

							<div class="pulse pulse--chile">
								<div class="inner">
									<div class="flag">
										<img src="{{cdn}}media/images/flag-chile.png" alt="Chile flag">
									</div>
									<div class="pin-content">
										<p>{{pin-chile}}</p>
									</div>
								</div>
							</div>

							<div class="pulse pulse--ch">
								<div class="inner">
									<div class="flag">
										<img src="{{cdn}}media/images/flag-ch.png" alt="China flag">
									</div>
									<div class="pin-content">
										<p>{{pin-china}}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="pin-content-mobile js-pin-content-mobile">
							<div class="pin-content">
								<div class="close"></div>
								<div class="js-map-pin-content-mobile"></div>
							</div>
						</div>
					</div>
				</div>
				{{!-- <div class="col-12 col-md-6 offset-md-3">
					<div class="source ig-mb-med">
						{{s2-caption}}
					</div>
				</div> --}}
			</div>
		</article>
	</div>
</section>