<section class="section section--1 ag-bg-primary" id="s1" data-section="1">
	<article class="collage">
		<div class="collage--row collage--top">
			<div class="title base-text">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-6 ig-pb-lg col-xl-7">
							<h1 class="ivanim-slidefade">{{s1-title}}</h1>
							<div class="ivanim-slidefade d1">
								{{{s1-p1}}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<figure class="road1 ivanim-fade d2">
				<img src="{{cdn}}media/images/hero-road1.jpg" alt="Road illustration">
			</figure>
		</div>
		<div class="collage--row collage--bottom">
			<figure class="road2 ivanim-fade d3">
				<img src="{{cdn}}media/images/hero-road2.jpg" alt="Road illustration">
			</figure>
			<figure class="road3 ivanim-fade d4">
				<img src="{{cdn}}media/images/hero-road3.jpg" alt="Road illustration">
			</figure>
			<div class="scroll-indicator ivanim-growline">
				<div><a class="scrollTo label" href="#start">{{{s1-ctascroll}}}</a></div>
			</div>
		</div>
	</article>
	<article class="ag-bg-primary">
		<div class="ig-pt-lg ig-pb-lg ivanim-slidefade" id="start">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-8 offset-md-2 base-text">
						{{{s1-p2}}}
					</div>
				</div>
			</div>
		</div>
	</article>
</section>