NOT IN USE

<section class="section section--growth-ev-market ag-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <h2>{{s1-2-title}}</h2>
            </div>
            <div class="col-md-4 offset-md-4">
                <figure class="show-desktop-only queen-ev ig-mb-sml">
                    <img src="{{cdn}}media/images/queen-ev.jpg" alt="">
                    <figcaption>
                        {{{queen-ev-caption}}}
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="pos-r max-w">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="show-desktop-only ig-mb-sml">
                        {{> s1_graphic2 }}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    {{{s1-2-p1}}}

                    <figure class="show-mobile-only queen-ev ig-mb-sml">
                        <img src="{{cdn}}media/images/queen-ev.jpg" alt="">
                        <figcaption>
                            {{{queen-ev-caption}}}
                        </figcaption>
                    </figure>

                    {{{s1-2-p2}}}

                    <div class="show-mobile-only ig-mb-sml">
                        {{> s1_graphic2_mob }}
                    </div>
                    
                    <figure class="polestar-2 show-mobile-only ig-mb-sml">
                        <img src="{{cdn}}media/images/polestar2.jpg" alt="">
                        <figcaption>
                            {{{polestar2-caption}}}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <figure class="polestar-2 show-desktop-only">
            <img src="{{cdn}}media/images/polestar2.jpg" alt="">
            <figcaption>
                {{{polestar2-caption}}}
            </figcaption>
        </figure>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="show-mobile-only ig-mb-sml">
                    {{> s1_graphic1_mob }}
                </div>

                 <div class="show-desktop-only ig-mb-sml">
                    {{> s1_graphic1 }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="ig-mb-med">
                    {{{s1-2-p3}}}
                </div>
            </div>
        </div>
    </div>

</section>