
.ivanim-fade {
  opacity: 0;
  transition: opacity 0.3s ease;
  will-change: opacity;
  &--delay-1s {
    &.is-inview {
      transition-delay: 1s;
    }
  }
  
  &.is-inview {
    opacity: 1;
  }

  &.d1 {
    &.is-inview {
      transition-delay: 0.2s;
    }
  }
  &.d2 {
    &.is-inview {
      transition-delay: 0.4s;
    }
  }
  &.d3 {
    &.is-inview {
      transition-delay: 0.6s;
    }
  }
  &.d4 {
    &.is-inview {
      transition-delay: 0.8s;
    }
  }
}

.ivanim-slidefade {
  opacity: 0;
  transform: translateY(0px);
  will-change: transform;
  transition: all 0.3s ease-in-out;
  &.is-inview {
    opacity: 1;
    transform: translateY(0);
  }
  &.d1 {
    &.is-inview {
      transition-delay: 0.2s;
    }
  }
}

.ivanim-revealzoom {
  overflow: hidden;
  img {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scale(1);
    will-change: transform;
    transition: opacity 0.5s ease, transform 0.8s ease;
    transition-delay: 0.5s;
  }
  &.is-inview {
    img {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}


.ivanim-slidedown {
  will-change: transform;
  transition: all 0.3s ease-in-out;
  &.is-inview {
    transform: translateY(0);
  }
}


