/* ==========================================================================
     Author's custom styles
     ========================================================================== */

/* #ag-page  */
hr {
    border:0;
    border-top: 1px solid #F9F8F8;
}
img {
    height: auto;
    max-width: 100%;
    width: 100%;
}
sup {
    position: relative;
    top: -0.25em;
    font-size: 70%;
}
strong {
    font-weight: normal;
}
figure {
    margin: 0;
}
ul, li {
    margin: 0;
    padding: 0;
}
button {
    outline: none;
    &:focus, &:active {
        outline: none;
    }
}
section {
    height: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}


.transi { transition: all 500ms cubic-bezier(0.025, 0.030, 0.000, 1.000); transition-timing-function: cubic-bezier(0.025, 0.030, 0.000, 1.000);  }
.transi-superfast { transition: all 150ms cubic-bezier(0.025, 0.030, 0.000, 1.000); transition-timing-function: cubic-bezier(0.025, 0.030, 0.000, 1.000);  }
.transi-fast { transition: all 250ms cubic-bezier(0.025, 0.030, 0.000, 1.000); transition-timing-function: cubic-bezier(0.025, 0.030, 0.000, 1.000);  }
.transi-slow { transition: all 750ms cubic-bezier(0.025, 0.030, 0.000, 1.000); transition-timing-function: cubic-bezier(0.025, 0.030, 0.000, 1.000);  }
.flip { transform: scaleX(-1); }
.uppercase { text-transform: uppercase; }
.underline { border-bottom: 2px solid #000; padding-bottom: 0px; }
.text-center { text-align: center; }
.pos-r { position: relative; }
.max-w {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}
.ig-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.show-mobile-only {
    display: block;
    @include media-breakpoint-up(md) {
        display: none;
    }
}
.show-desktop-only {
    display: none;
    @include media-breakpoint-up(md) {
        display: block;
    }
}


// colors
.ag-bg-primary {
    background-color: $primary-color;
    color: $white;
}
.ag-bg-secondary {
    background-color: $secondary-color;
    color: $primary-color;
}
.ag-bg-white {
    background-color: white;
    color: $primary-color;
}



