/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * cy:
 *   - http://typekit.com/eulas/00000000000000007735cab8
 *   - http://typekit.com/eulas/00000000000000007735cab9
 *   - http://typekit.com/eulas/00000000000000007735cabc
 * korolev:
 *   - http://typekit.com/eulas/00000000000000007735df4a
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved. https://use.typekit.net/yii1hib.css
 */



/*{"last_published":"2021-05-05 09:51:13 UTC"}*/



/* @import must be at top of file, otherwise CSS will not work */
@import url("https://p.typekit.net/p.css?s=1&k=yii1hib&ht=tk&f=27993.43784.43785.43788&a=10723760&app=typekit&e=css");

@font-face {
font-family:"korolev";
src:url("https://use.typekit.net/af/5970af/00000000000000007735df4a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/5970af/00000000000000007735df4a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/5970af/00000000000000007735df4a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"cy";
src:url("https://use.typekit.net/af/940fef/00000000000000007735cab8/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/940fef/00000000000000007735cab8/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/940fef/00000000000000007735cab8/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"cy";
src:url("https://use.typekit.net/af/44056c/00000000000000007735cab9/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/44056c/00000000000000007735cab9/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/44056c/00000000000000007735cab9/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"cy";
src:url("https://use.typekit.net/af/82b5c4/00000000000000007735cabc/30/l?primer=8fa4b058e82492e04d7cdf52b0e62c529469bc2a019e2b65c17d5e267ca91b8d&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/82b5c4/00000000000000007735cabc/30/d?primer=8fa4b058e82492e04d7cdf52b0e62c529469bc2a019e2b65c17d5e267ca91b8d&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/82b5c4/00000000000000007735cabc/30/a?primer=8fa4b058e82492e04d7cdf52b0e62c529469bc2a019e2b65c17d5e267ca91b8d&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;
}


// .tk-korolev { font-family: "korolev", sans-serif; }
// .tk-cy { font-family: "cy", sans-serif; }