// override bootstrap
.container-fluid {
	@include media-breakpoint-up(md) {
		padding-left: 0;
		padding-right: 0;
	}
}
.row {
	@include media-breakpoint-up(md) {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (min-width: 1200px) {
	.container {
	    max-width: 1160px;
	}
}

@media (min-width: 1300px) {
	.container {
	    max-width: 1240px;
	}
}
