// padding
.ig-pt-lg {
    padding-top: 32px;
	@include media-breakpoint-up(md) {
        padding-top: 64px;
    }
}
.ig-pb-lg {
    padding-bottom: 32px;
    @include media-breakpoint-up(md) {
        padding-bottom: 64px;
    }
}


// margin
.ig-mb-xxs {
	margin-bottom: 10px;
}
.ig-mb-xs {
	margin-bottom: 15px;
}
.ig-mb-sml {
	margin-bottom: 30px;
}
.ig-mb-med {
	margin-bottom: 60px;
}

.ig-pt-sml {
	padding-top: 30px;
}