.base-text {
	line-height: 1.5; 
	@include font-size(16px);

	@include media-breakpoint-up(md) {
		@include font-size(19px);
	}

    font-feature-settings: "calt" 0;
    font-variant-numeric: tabular-nums;
}

.font-title {
    font-family: $font-title;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "calt" 0;
}

.font-graphic {
    font-family: $font-title;
    font-feature-settings: "calt" 0;
    font-variant-numeric: tabular-nums;
}
.font-graphic-size {
    font-size: 13px;
}
.font-graphic-title {
    font-size: 16px;
}
.font-graphic-source {
    font-size: 12px;
}

a {
    outline: 0;
    color: $black;
}

p {
    margin: 0;
    margin-bottom: 1em;
    font-family: $font-copy;
    strong, b {
        font-weight: 600;
    }
    @extend .base-text;
}

h1,h2,h3, h4 {
    margin: 0;
    padding: 0;
    line-height: 110%;
    font-weight: $weight-bold;
    @extend .font-title;
}
h1 {
    @include font-size(42px);
    @include media-breakpoint-up(xl) {
        @include font-size(61px);
    }
}
h2 {
    padding-top: 44px;
    margin-bottom: 40px;
    @include font-size(38px);
    @include media-breakpoint-up(lg) {
        padding-top: 60px;
    }
    @include media-breakpoint-up(xl) {
        @include font-size(48px);
    }
}
h3 {
    line-height: 1.5; 
}

.title {
    font-family: $font-title;
    font-weight: $weight-bold;
    font-feature-settings: "calt" 0;
    @include font-size(16px);
    @include media-breakpoint-up(md) {
        @include font-size(16px);
    }
}

.source {
    font-family: $font-title;
    font-weight: $weight-bold;
    font-feature-settings: "calt" 0;
    font-variant-numeric: tabular-nums;
    line-height: 1.5; 
    @include font-size(12px);
    @include media-breakpoint-up(md) {
        @include font-size(14px);
    }
}
