// variables
$font-title: 'cy', serif;
$font-copy: 'korolev', sans-serif;

$weight-light: 300;
$weight-medium: 500;
$weight-bold: 600;
$weight-black: 900;

$bg-color: #fff;
$copy-color: #211F26;

$primary-color: #00282D;
$secondary-color: #D9D538;

$image-path: '../images' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

$ft-fixed-nav: 52px;