///
.horizontal-wrapper {
    @include media-breakpoint-up(lg) {
        overflow: hidden;
        width: 100vw;
        position: relative;
    }
}

.horizontal-wrapper-inner {
    position: relative;
    @include media-breakpoint-up(lg) {
        height: 100vh;
    }
}

.last-wipe {
    .container {
        @include media-breakpoint-up(lg) {
            margin-left: 0;
        }
    }
}
.wipe-section {
    @include media-breakpoint-up(lg) {
        display: flex;
        position: absolute;
        left: 0;
        height: 100%;
        top: 0;
        bottom: 0;
    }
    &.wipe-s1 {
        @include media-breakpoint-up(lg) {
            width: calc(305vw);
        }
        @include media-breakpoint-up(xl) {
            width: 200vw;
        }
    }

    &.wipe-s3 {
        @include media-breakpoint-up(lg) {
            width: 200vw;
        }
    }
    &.wipe-s5 {
        @include media-breakpoint-up(lg) {
            width: 200vw;
        }
    }
}

.w300p {
    @include media-breakpoint-up(lg) {
        width: 300vw;
        display: flex;
        height: 100vh;
    }
}
.w200p {
    @include media-breakpoint-up(lg) {
        // width: 200vw;
        display: flex;
        height: 100vh;
        
    }
}
.w100p {
    width: 100vw;
}


.w_s1_g2 {
    @include media-breakpoint-up(lg) {
        width: 670px;
        flex-shrink: 0.7;
    }
    @include media-breakpoint-up(xl) {
        flex-shrink: 0.5;
    }
    @include bp-xl {
        flex-shrink: 0;
    }
}
.w150p {
    @include media-breakpoint-up(lg) {
        width: 150vw;
    }
}

.w800 {
    @include media-breakpoint-up(lg) {
        width: 800px;
    }
}
.w1000 {
    width: 100%;
    @include media-breakpoint-up(lg) {
        width: 1000px;
    }
}
